<!--<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="list-header">
		Venues
	</div>
</div>-->
<div id="main" class="palm-hasheader centered">
<div x-mojo-element="Drawer" id="drawerId" class="drawerClass" name="drawerName">
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Search Users</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="sendField" x-mojo-element="TextField" ></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="go_button" x-mojo-element="Button"></div>
<div id="go_twitter_button" x-mojo-element="Button"></div>




</div>

<!--
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Search Venues</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="sendField" x-mojo-element="TextField" ></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="go_button" x-mojo-element="Button"></div>
-->

<div id='message' style='padding: 0 20px;'></div>
<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>

<div class="palm-group unlabeled" id='resultListBox' style='display:none;'>
	<!--<div class="palm-group-title" x-mojo-loc=''>Search Results</div>-->
	<div id="results-friends-list" x-mojo-element="List" ></div>
</div>
<div id="go_pending_button" x-mojo-element="Button"></div>

<br/><br/><br/><br/><br/><br/>
</div>