<div id="main" class="noheader">
	<div class="palm-page-header multi-line" id="venueHeader">
		<div class="palm-page-header-wrapper">
		    <div id="checkinVenueName" class="title left capitalize" ></div>                         
			<div style="width: 65%; float: left;">
				<div id="checkinVenueAddress" class="subtitle capitalize"></div>
			</div>
			<div id="docheckin" style="width: 34%;float:left;">checkin</div>
			<div style="clear:both;height: 2px;">&nbsp;</div>
		</div>
	</div>
   <div x-mojo-element="Scroller" id="detailScroller" class="scrollerClass" name="scrollerName">
		<div id="snapMap">
			<table class="palm-divider labeled">
			  <tr>
			    <td class="left"></td>
			    <td class="label">
			      Map
			    </td>
			    <td class="right"></td>
			  </tr>
			</table>
			<img id="venueMap" src="" width="320" height="175" />
		</div>
		<div id="snapMayor">
			<table class="palm-divider labeled">
			  <tr>
			    <td class="left"></td>
			    <td class="label">
			      Mayor
			    </td>
			    <td class="right"></td>
			  </tr>
			</table>
			<div id="venueMayor">
				<div id="mayorAvatar">
					<img id="mayorPic" width="75" height="75" alt="Mayor!" src="" />
					<img id="mayorPicBorder" src="images/roundedCorner.png" />
					<img id="mayorCrown" src="images/crown.png" />
				</div>
				<div id="mayorInfoBlock">
					<div id="mayorName" class="title"></div>
					<div id="mayorInfo" class="palm-info-text"></div><br class="breaker"/>
				</div>
			</div>
		</div>
		<div id="snapTips" class="breaker">
			<table class="palm-divider labeled">
			  <tr>
			    <td class="left"></td>
			    <td class="label">
			      Tips
			    </td>
			    <td class="right"></td>
			  </tr>
			</table>
			<div id="venueTips"></div>
			<div x-mojo-element="Button" id="buttonAddTip" class="buttonClass" name="buttonName"></div>
		</div>
		<div id="snapInfo" class="breaker">
			<table class="palm-divider labeled">
			  <tr>
			    <td class="left"></td>
			    <td class="label">
			      Venue Info
			    </td>
			    <td class="right"></td>
			  </tr>
			</table>
			<div id="venueInfo"></div>
			<br/><br/>			<br/><br/>			<br/><br/>
		</div>
    </div> 
</div>
	
	
	
</div>
<div class="palm-scrim" id="venueScrim"></div>
<div x-mojo-element="Spinner" id="venueSpinner" class="spinnerClass" name="spinnerName">
</div>
<div id="dropshadow">&nbsp;</div>
<div class="fade-bottom"></div>
