<!--<div id="map-main" class="palm-hasheader">-->
	<!--<div class="palm-header left" id="list-header">
		User Info
	</div>-->
	<div id="main" class="no-palm-hasheader centered">
	<div class="palm-header-nope center-nope thin-header" id="list-header" style="height: 45px;position: absolute;top:0px;left:0px;width: 322px;z-index:999;">
		<div class="lefter" style="width:194px;text-indent: 0px;font-size: 43px;text-align:left;">Venues</div>
		<div class="righter" style="text-align: left; padding-top: 8px; padding-right: 50px; width: 68px;height: 43px;right:79px;" id="vmenu"><span class="header-button"><span id="vmenu-caption">Map</span> &#9654;</span></div>
	</div>
	<br class="breaker-small"/>

	<div id='map_canvas' style="position: absolute; top: 0px; left: 0px; height: 460px; width: 100%; display: block;"></div>
	<br class="breaker"/>
	<div id="statusinfo"></div>
	<div id="map_convas"></div>
	<div x-mojo-element="Spinner" id="mapSpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="menuhere" style="float: right; position: absolute; top: 30px;right:0px;"></div>

</div>

