<div id="main" class="about-dialog no-palm-hasheader fsq-hasheader">
	<div class="thin-header-redux" style="z-index: 99999">
		<div class="letterpress">
		<div class="thin-blue-header" id="todo-header">TIP</div>
		</div>
	</div>

	<br class="breaker-small"/>


	<div class="grey-bg" id="wrapper">
		<div class="tip-venue" id="venue-wrap" style="color:#1e1e1e;padding:0;margin-bottom: 7px;margin-top: 15px;display:none;">
			<div id="todo-venue"></div>
		</div>
		<div class="darkerbg" style="color:#fff;padding-bottom: 3px;margin-bottom: 7px;margin-top: 15px;">
			<div id="todo-text"></div>
		</div>
		<div class="darkerbg" style="color:#fff;padding-bottom: 3px;margin-bottom: 7px;margin-top: 15px;">
			<div id="todo-footer"></div>
		</div>
		
		<div id="todo-buttons">
			<div x-mojo-element="Button" id="buttonRemove" class="" name="buttonName" style="margin: 0 0 0 -6px; width: 292px;"></div>
			<div x-mojo-element="Button" id="buttonAdd" class="" name="buttonName" style="margin: 0 0 0 -6px; width: 292px;display:none;"></div>
			<div x-mojo-element="Button" id="buttonDone" class="fsq-button plambutton primary" name="buttonName"></div>
		</div>
	</div>
</div>
<div class="innershadow"></div>