<div id="main" class="checkin-main fsq-hasheader">
	<div class="thin-header-redux">
		<div class="letterpress">
		<div class="thin-blue-header">ADD PHOTO</div>
		</div>
	</div>

	<br class="breaker-small"/>
	<div id="checkin-widgets" class="grey-bg">
		<div id="checkin-info"></div>
   		
		<div id="add-photo" class="nophoto" x-mojo-touch-feedback="immediate"></div>   		

		<div class="darkerbg" style="color:#fff;padding-bottom: 3px;margin-top: 15px;font-size:15px" id="disclaimer">
			
		</div>
		<div class="darkerbg" style="color:#fff;padding-bottom: 3px;margin-bottom: 7px;margin-top: 10px;display:none;" id="share-fields">
			<div class="left chkLabel" style="float: left; width: 150px;">Share with...</div>
			<div class="right" style="float: right; width: 100px;">
				<div id="share-facebook" class="share-button fbook"></div>
				<div id="share-twitter" class="share-button twit"></div>
				<br class="breaker-small"/>
			</div>
			<br class="breaker-small"/>
		</div>

		<div x-mojo-element="Button" class="fsq-button palmbutton primary" id="okButton"></div>

	</div>		


</div>


