

<div id="main" class="about-dialog no-palm-hasheader fsq-hasheader">
	<div class="thin-header-redux" style="z-index: 99999">
		<div class="letterpress">
		<div class="thin-blue-header" id="about-header">ABOUT</div>
		</div>
	</div>

	<br class="breaker-small"/>


	<div class="grey-bg">
		<div class="small-text">
			Made in New Orleans.
		</div>
		<br>
		<div class="fsq-divider">Contributors</div>
		<div class="small-text">
			Foursquare for webOS&trade; was developed by Geoffrey Gauchet. Graphic elements were designed by Christopher Van Buskirk. <br/><br/>
			Spawned from a project by Andrew Walpole. Contains code from L.M. Orchard (Flickr key signing), and Trek Glowacki (relative time). Contains graphics and icons that are designed and property of Foursquare Labs, LLC.
		</div>
		<br>
		
		
		<div class="fsq-divider">Follow Us on Twitter</div>
		<div class="small-text">
			Geoffrey: <a href="http://twitter.com/zhephree">@zhephree</a><br/>
			Christopher: <a href="http://twitter.com/skirkster">@skirkster</a>.
		</div>
		<br>
		
		<div class="fsq-divider">Thanks</div>		
		<div class="small-text">
			A big thanks to all those in the community that have offered feedback during the development of this app, to Naveen @ foursquare for his help moving this along, to Dion Almaer, Steve Lemke, and the HI Team @ Palm for their help and ideas, and to the team @ Pikchur for modifying their API just to let this app work with it.<br/>
			<br/>
			This app allows you to set its notification ringtone via James Harris' <a href="http://developer.palm.com/appredirect/?packageid=com.jamesharris.musicringtones">Free Music Ringtones</a> app. Try downloading his app and use any of thousands of real music ringtones as your Foursquare notification sound!
		</div>
		<br>
	
		<div class="fsq-divider"  id="legal-head">Legal </div>
		<div class="small-text">
			"foursquare", the "foursquare" logo, and the "boy playing foursquare" image are copyright and registered trademarks of foursquare.
			<br/><br/>
			Foursquare for webOS is Copyright &copy;2011 Geoffrey Gauchet and Christopher van Buskirk<br/>
			 <br/>
			Licensed under the Apache License, Version 2.0 (the "License"); 
			you may not use this file except in compliance with the License.
			You may obtain a copy of the License at<br/>
			 <br/>
		   <a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a><br/>
			<br/>
			Unless required by applicable law or agreed to in writing, software
			distributed under the License is distributed on an "AS IS" BASIS,
			WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
			See the License for the specific language governing permissions and
			limitations under the License.	
			<br><br>
			Source code available at: <a href="http://github.com/foursquare/foursquare-palmpre">http://github.com/foursquare/foursquare-palmpre</a>.
		</div>
	</div>
</div>
<div class="innershadow"></div>