

<div id="about-main" class="palm-hasheader">
	<div class="palm-header center" id="about-header">
		About
	</div>
	<br/><br/>
	<!--<div id="testbutton">TEST UA STRING</div>-->
	Foursquare for webOS&trade; was developed by Geoffrey Gauchet and Andrew Walpole. Graphic elements were designed by Christopher Van Buskirk. <br/><br/>
	Follow us on Twitter: <a href="http://twitter.com/zhephree">@zhephree</a>,  <a href="http://twitter.com/skirkster">@skirkster</a>, and  <a href="http://twitter.com/walpolea">@walpolea</a>.<br/><br/>
	A big thanks to all those in the community that have offered feedback during the development of this app.<br/><br/> 
	<div class="palm-info-text">"foursquare", the "foursquare" logo, and the "boy playing foursquare" image are copyright and registered trademarks of foursquare.
	<br/><br/>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
	<br/><br/>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
	<br/><br/>
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
	</div>
</div>
