<div id="shout-main" class="no-palm-hasheader centered">
	<div class="palm-header-nope center-nope thin-header" id="list-header" style="height: 45px;position: fixed;top:0px;left:0px;width: 322px;z-index:999;">
		<div class="lefter" style="width:220px;text-indent: 0px;font-size: 43px;text-align:left;">Shout</div>
		<!--<div class="righter" style="text-align: left; padding-top: 8px; padding-right: 50px; width: 68px;height: 43px;right:79px;" id="fmenu"><span class="header-button"><span id="fmenu-caption">List</span> &#9654;</span></div>-->
	</div>
	<br class="breaker-small"/><br/>
	<div class="palm-group" id='docheckingroup'>
	<div class="palm-group-title" x-mojo-loc=''>Send a shout to your friends</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" style="position:relative;" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="shout" style="width: 83%;"></div>
		      			<span class="clear-button" id="attach" style="position: absolute; right: 0px; top: -12px;"><div class="attach-button" id="attachicon"></div></span>
						<div id="img-preview" style="display: none;padding:0;margin:0;">
							<img src="" width="100" id="img">
							<div id="remove-button"></div>
						</div>
					</div>
				</div>
			</div>
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div class="title left">
				<div class="palm-group unlabeled" id="listborder" style="display:none;">
					<div class="palm-list">
						<div class="palm-row-single" x-mojo-tap-highlight="momentary">
							<div class="palm-row-wrapper">
								<div x-mojo-element="ListSelector" id="photohostList" class="listselectorClass"  name="listselectorName"></div>				
							</div>
						</div>
					</div>
				</div>
				<div x-mojo-element="CheckBox" id="chkTwitter" class="checkboxClass left" name="checkboxName"></div> <div class="left chkLabel">Ping Twitter</div><br class="breaker"/>
				<div x-mojo-element="CheckBox" id="chkFacebook" class="checkboxClass left" name="checkboxName"></div> <div class="left chkLabel">Ping Facebook</div><br class="breaker"/>
			</div>
		</div>
	</div>
		</div>

	</div>
	
	<div x-mojo-element="Button" class="palmbutton primary" id="okButtonShout"></div>
	<br/><br/>
</div>