<div id="main" class="viewwalkthrough-dialog no-palm-hasheader fsq-hasheader">
	<div class="thin-header-redux" style="z-index: 99999">
		<div class="letterpress">
		<div class="thin-blue-header" id="help-header"></div>
		</div>
	</div>

	<br class="breaker-small"/>


	<div class="grey-text">
		<div x-mojo-element="Scroller" id="pageScroller" class="scrollerClass" name="scrollerName" style="height: 100%">
			<div id="content" class="walkthrough-content">
			
			</div>
			<br class="breaker-small">
			<div class="palm-header-spacer"></div>
		</div>
	</div>
</div>
<div class="innershadow"></div>
<div id="page-number"></div>
<div id="swipe-note" style="display:none;"><img src="images/swipe.gif"> Swipe Gesture Area Left to Close</div>