<div id="main" class="noheader">
<!--	<div class="palm-header center" id="list-header">
		User Info
	</div>
	<div>
			<div id="userInfoHeading">
				<div id="userAvatar">
					<img id="userPic" width="75" height="75" data="" alt="" src="" />
					<img id="userPicBorder" src="images/roundedCorner.png" class="userLink" data="" alt="" />
				</div>
				<div id="userInfoBlock">
					<div id="userName" class="title userLink" alt=""></div>
					<div id="userInfo" class="palm-info-text"></div><br class="breaker"/>
				</div>
			</div>
	</div>	-->
	<div class="palm-page-header-nope multi-line-nope" id="userHeader">
		<div class="palm-page-header-wrapper-nope">
			<div id="userAvatar" style="width: 70px;float:left;">
				<img id="userPic" width="60" height="60" data="" alt="" src="" class="friend-avatar" />
				<!--<img id="userPicBorder" src="images/roundedCorner.png" class="userLink" data="" alt="" />-->
				
			</div>
			<div style="width: 200px; float: left; padding-left: 7px;">
			    <div id="userName" class="title left" ></div>                         
				<div id="userCity" class=""></div>
				<div class="darkerbg" id="user-mayorinfo">
					<div class="smallest">MAYORSHIPS &#9654;</div>
					<div class="bigtext" id="mayorcount"></div>
				</div>
				<div class="darkerbg" id="user-badgeinfo">
					<div class="smallest">BADGES &#9654;</div>
					<div class="bigtext" id="badgecount"></div>
				</div>
				
			</div>
			<div style="clear:both;height: 2px;">&nbsp;</div>
		  	<div id="dropshadow">&nbsp;</div>
		  	
		</div>
	</div>
	<div id="tabs" style="padding:0; margin:-12px auto -13px auto; width: 100%;">
		<div x-mojo-element="RadioButton" id="tabButtons" class="radiobuttonClass" 
 name="radiobuttonName" style="padding: 0px;width:100%;"></div>
	</div>

  	<div class="palm-group-nope" id='mayorof' style="display:none;">
  		<div class="fsq-divider">Mayorships</div>
<!--		<div id='mayor-title' class="palm-group-title" x-mojo-loc=''>Mayorships</div>-->
		<div id="mayorshipList" x-mojo-element="List" >
			<!--<div id='mayor-box' class='listWhiteBox'>
			</div>-->
		</div>
	</div>
	<div class="palm-group-nope" id='ubadges' style="display:none;">
	<div class="fsq-divider">Badges</div>
	<!--	<div id='badges-title' class="palm-group-title" x-mojo-loc=''>Badges</div>-->
			<div class="palm-list">
				<div id='badges-box'></div>
			</div>
	</div>

	<div class="palm-group-nope" id='uhistory' style="padding-top: 5px;">
		<!--<div id='history-title' class="palm-group-title" x-mojo-loc=''>History</div>-->
		<div id="checkinHistory" x-mojo-element="List" >
			<!--<div id='history-box' class='listWhiteBox'>
			</div>-->
		</div>
	</div>

	<div class="palm-group-nope" id='uinfo' style="display:none;">
		<!--<div id='info-title' class="palm-group-title" x-mojo-loc=''>Info</div>-->
  					<!--<div id="userInfo" class="subtitle"></div>-->
  					
		<div id="infoList" x-mojo-element="List" ></div>  					
	</div>


	<div class="palm-group-nope" id="ufriends" style="display:none;">
		<div id="friendsList" x-mojo-element="List" ></div>
	</div>
	<div class="palm-group-nope" id="ufriendsresults" style="display:none;">
		<div id="friendsResultsList" x-mojo-element="List" ></div>
	</div>
<br/><br/><br/><br/>
</div>
	<div class="palm-scrim" id="userScrim" style="display: none;"></div>
	<div x-mojo-element="Spinner" id="userSpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="tooltip" class="tooltip darkerbg" style="display: none;"></div>
