

<div id="userinfo-main" class="palm-hasheader">
	<div class="palm-header center" id="list-header">
		User Info
	</div>
	<div>
			<div id="userInfoHeading">
				<div id="userAvatar">
					<img id="userPic" width="75" height="75" data="" alt="" src="" />
					<img id="userPicBorder" src="images/roundedCorner.png" class="userLink" data="" alt="" />
				</div>
				<div id="userInfoBlock">
					<div id="userName" class="title userLink" alt=""></div>
					<div id="userInfo" class="palm-info-text"></div><br class="breaker"/>
				</div>
			</div>
	</div>	
	<br class="breaker"/>
	<div class="palm-group" id='mayorof'>
		<div id='mayor-title' class="palm-group-title" x-mojo-loc=''>Mayorships</div>
		<div class="palm-list">
			<div id='mayor-box' class='listWhiteBox'>
			</div>
		</div>
	</div>
	<br class="breaker"/>
	<div class="palm-group" id='ubadges'>
		<div id='badges-title' class="palm-group-title" x-mojo-loc=''>Badges</div>
		<div class="palm-list">
			<div id='badges-box' class='listWhiteBox'>
			</div>
		</div>
	</div>

	<br class="breaker"/>
	<div class="palm-group" id='uhistory'>
		<div id='history-title' class="palm-group-title" x-mojo-loc=''>History</div>
		<div class="palm-list">
			<div id='history-box' class='listWhiteBox'>
			</div>
		</div>
	</div>


	<div class="palm-scrim" id="userScrim"></div>
	<div x-mojo-element="Spinner" id="userSpinner" class="spinnerClass" name="spinnerName"></div>

</div>
