<div id="main" class="noheader">
<!--	<div class="palm-header center" id="list-header">
		User Info
	</div>
	<div>
			<div id="userInfoHeading">
				<div id="userAvatar">
					<img id="userPic" width="75" height="75" data="" alt="" src="" />
					<img id="userPicBorder" src="images/roundedCorner.png" class="userLink" data="" alt="" />
				</div>
				<div id="userInfoBlock">
					<div id="userName" class="title userLink" alt=""></div>
					<div id="userInfo" class="palm-info-text"></div><br class="breaker"/>
				</div>
			</div>
	</div>	-->
	<div class="palm-page-header-nope multi-line-nope" id="userHeader">
		<div class="palm-page-header-wrapper-nope">
			<div id="userAvatar" style="width: 82px;float:left; margin-top: 45px;">
				<img id="userPic" width="72" height="72" data="" alt="" src="" class="friend-avatar" />
				<!--<img id="userPicBorder" src="images/roundedCorner.png" class="userLink" data="" alt="" />-->
				
			</div>
			<div style="width: 180px; float: left; padding-left: 7px; margin-top: 45px;">
			    <div id="userName" class="title left" ></div>                         
				<div id="userCity" class=""></div>
				
			</div>
			<div style="clear:both;height: 2px;">&nbsp;</div>
		  	<div id="dropshadow">&nbsp;</div>
		  	
		</div>
	</div>
	<div class="header-bottom-border"></div>

<br>
	<div id="tabs" style="padding:0; margin:-12px auto -13px auto; width: 302px;">
				<div class="grey-bg-noshadow" id="user-mayorinfo">
					<div class="smallest">MAYORSHIPS &#9654;</div>
					<div class="bigtext" id="mayorcount"></div>
				</div>
				<div class="grey-bg-noshadow" id="user-badgeinfo">
					<div class="smallest">BADGES &#9654;</div>
					<div class="bigtext" id="badgecount"></div>
				</div>
				<div class="grey-bg-noshadow" id="user-tipinfo">
					<div class="smallest">TIPS &#9654;</div>
					<div class="bigtext" id="tipcount"></div>
				</div>

			<br class="breaker">
	</div>
<br class="breaker">
	  <div id="overview">
		<div class="palm-list">
			
			<div class="palm-row" id="todos-row" style="display: none;">
				<div class="palm-row-wrapper venue-button-row" x-mojo-tap-highlight="momentary">
					<div class="venue-left">
						<div class="medium-bold" id="todo-count">items on To-Do list</div>
					</div>
					<div class="venue-right">
						<img src="images/right.png" width="32" height="32" class="right-arrow">
					</div>
					<br class="breaker">
				</div>
			</div>

			<div class="palm-row" id="checkins-row" style="display: none;">
				<div class="palm-row-wrapper venue-button-row" x-mojo-tap-highlight="momentary">
					<div class="venue-left">
						<div class="medium-bold" id="checkin-count">checkins</div>
					</div>
					<div class="venue-right">
						<img src="images/right.png" width="32" height="32" class="right-arrow">
					</div>
					<br class="breaker">
				</div>
			</div>

			<div class="palm-row" id="friends-row">
				<div class="palm-row-wrapper venue-button-row" x-mojo-tap-highlight="momentary">
					<div class="venue-left">
						<div class="medium-bold" id="friends-count"></div>
						<div id="friends-avatars"></div>
					</div>
					<div class="venue-right">
						<img src="images/right.png" width="32" height="32" class="right-arrow">
					</div>
					<br class="breaker">
				</div>
			</div>
			
			<div class="palm-row" id="venuehistory-row" style="display: none;">
				<div class="palm-row-wrapper venue-button-row" x-mojo-tap-highlight="momentary">
					<div class="venue-left">
						<div class="medium-bold">Where Have I Been?</div>
					</div>
					<div class="venue-right">
						<img src="images/right.png" width="32" height="32" class="right-arrow">
					</div>
					<br class="breaker">
				</div>
			</div>

			<div class="palm-row" id="more-row">
				<div class="palm-row-wrapper venue-button-row" x-mojo-tap-highlight="momentary">
					<div class="venue-left">
						<div class="medium-bold" id="more-text">More info</div>
						<div class="subtext" id="more-subtext"><span id="friendshipinfo" style="display:none;"></span>Contact, Ping Settings</div>
					</div>
					<div class="venue-right">
						<img src="images/right.png" width="32" height="32" class="right-arrow">
					</div>
					<br class="breaker">
				</div>
			</div>

			<div class="palm-row" id="leaderboard-row" style="display:none;">
				<div class="palm-row-wrapper venue-button-row" x-mojo-tap-highlight="momentary">
					<div class="venue-left">
						<div class="medium-bold" id="leaderboard-text">Leaderboard</div>
						<div class="subtext" id="leaderboard-subtext">See your score vs. your friends and city</div>
					</div>
					<div class="venue-right">
						<img src="images/right.png" width="32" height="32" class="right-arrow">
					</div>
					<br class="breaker">
				</div>
			</div>
		</div>
	</div>





  	<div class="palm-group-nope" id='mayorof' style="display:none;">
  		<div class="fsq-divider">Mayorships</div>
<!--		<div id='mayor-title' class="palm-group-title" x-mojo-loc=''>Mayorships</div>-->
		<div id="mayorshipList" x-mojo-element="List" >
			<!--<div id='mayor-box' class='listWhiteBox'>
			</div>-->
		</div>
		<div id="mayor-notice" class="notice" style="display: none; margin-top: 50px;"></div>
	</div>
	<div class="palm-group-nope" id='ubadges' style="display:none;">
	<div class="fsq-divider">Badges</div>
		<div id="badges-notice" class="notice" style="display: none; margin-top: 50px;"></div>
	<!--	<div id='badges-title' class="palm-group-title" x-mojo-loc=''>Badges</div>-->
			<div class="palm-list">
				<div id='badges-box'></div>
			</div>
	</div>

	<div class="palm-group-nope" id='uhistory' style="padding-top: 5px; display:none;">
		<!--<div id='history-title' class="palm-group-title" x-mojo-loc=''>History</div>-->
		<div class="fsq-divider">Check-in History (Last 30 Days)</div>
		<div id="checkinHistory" x-mojo-element="List" >
			<!--<div id='history-box' class='listWhiteBox'>
			</div>-->
		</div>
	</div>

	<div class="palm-group-nope" id='venuehistory' style="padding-top: 5px; display:none;">
		<!--<div id='history-title' class="palm-group-title" x-mojo-loc=''>History</div>-->
		<div class="fsq-divider">Where Have I Been?</div>
		<div x-mojo-element="RadioButton" id="venuehistoryToggle" class="radiobuttonClass" name="radiobuttonName"></div>
		<div id="venueHistory" x-mojo-element="List" >
			<!--<div id='history-box' class='listWhiteBox'>
			</div>-->
		</div>
	</div>

	<div class="palm-group-nope" id='utips' style="padding-top: 5px; display:none;">
	<div class="fsq-divider">Tips</div>
		<div id="tips-notice" class="notice" style="display: none; margin-top: 50px;"></div>
		<div id="user-tips" x-mojo-element="List" >
			<!--<div id='history-box' class='listWhiteBox'>
			</div>-->
		</div>
	</div>

	<div class="palm-group-nope" id='utodos' style="padding-top: 5px; display:none;">
	<div class="fsq-divider">To-Do List</div>
		<div id="todos-notice" class="notice" style="display: none; margin-top: 50px;"></div>
		<div id="user-todos" x-mojo-element="List" >
			<!--<div id='history-box' class='listWhiteBox'>
			</div>-->
		</div>
	</div>


	<div class="palm-group-nope" id='uinfo' style="display:none;">
		<!--<div id='info-title' class="palm-group-title" x-mojo-loc=''>Info</div>-->
  					<!--<div id="userInfo" class="subtitle"></div>-->
  					
		<div id="infoList" x-mojo-element="List" ></div>  					
	</div>


	<div class="palm-group-nope" id="ufriends" style="display:none;">
		<div x-mojo-element="RadioButton" id="friendToggle" class="radiobuttonClass" name="radiobuttonName"></div>
		<div id="friendsList" x-mojo-element="List" ></div>
	</div>
	<div id="results-start">&nbsp;</div>
	<div class="palm-group-nope" id="ufriendsresults" style="display:none;">
		<div id="friendsResultsList" x-mojo-element="List" ></div>
	</div>
</div>
	<div class="palm-scrim" id="userScrim" style="display: none;"></div>
	<div x-mojo-element="Spinner" id="userSpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="tooltip" class="tooltip" style="display: none;"></div>
