<div id="main" class="walkthrough-dialog no-palm-hasheader fsq-hasheader">
	<div class="thin-header-redux" style="z-index: 99999">
		<div class="letterpress">
		<div class="thin-blue-header" id="help-header">FAQs</div>
		</div>
	</div>

	<br class="breaker-small"/>


	<div class="grey-text">
		Tap a topic below to find out how to accomplish it. Don't worry: more topics are on their way!
		<br>
		<br>
		<div id="topicList" x-mojo-element="List" ></div> 
	</div>
</div>
<div class="innershadow"></div>
<div x-mojo-element="Spinner" id="userSpinner" class="spinnerClass" name="spinnerName"></div>
