<!-- TODO: replace the contents of this file with your own html overlay-content-->
<div class="palm-body-text fsq-hasheader" style="color:#000;" id="main">
	<div class="thin-header-redux">
		<div class="letterpress">
		<div class="thin-blue-header">PHOTOS</div>
		</div>
	</div>

	<br class="breaker-small"/>
	<!--<div class="palm-header center" id="list-header">
		Leaderboard
	</div>-->
	<div x-mojo-element="Button" id="buttonUpload" class="buttonClass" name="buttonName"></div>
	<div class="fsq-divider">Flickr</div>
	<div x-mojo-element="Spinner" id="flickrSpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="flickr-content" class="black-text" style="text-align:center"></div>
	<br/>
	<div class="fsq-divider">Flickr (Nearby)</div>
	<div x-mojo-element="Spinner" id="flickrnearbySpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="flickrnearby-content" class="black-text" style="text-align:center"></div>
	<br/>
	<div class="fsq-divider">Pikchur</div>
	<div x-mojo-element="Spinner" id="pikchurSpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="pikchur-content" class="black-text" style="text-align:center"></div>
	<br/>
	<div class="fsq-divider">Plixi</div>
	<div x-mojo-element="Spinner" id="tweetphotoSpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="tweetphoto-content" class="black-text" style="text-align:center"></div>
	<br/>
</div>
<div class="innershadow"></div>