<div class='result row' x-mojo-tap-highlight='momentary' style="position: relative;padding:0;padding-top:5px;padding-left: 7px; padding-right: 7px;">
	<div style="position: relative;">
		<div class="beer-category">
			<div class="beer-cat-icon"><img src="#{beer_stamp}" width="32"/></div>
		</div>
		<div class="beer-info-wrap">
			<div class="beer-name truncating-text capitalize">#{-beer_name}</div>
			<div class='beer-brewery truncating-text capitalize' id="address-#{id}">#{-brewery_name}</div>
		</div>
		<br class="breaker">
	</div>
</div>