<div>
	<div id='docheckin-header'>
		<span id="docheckin-title" class="palm-dialog-title">Shout!</span>
	</div>
	<div class="palm-group" id='docheckingroup'>
	<div class="palm-group-title" x-mojo-loc=''>Send a shout to your friends</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="shout"></div>
					</div>
				</div>
			</div>
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div class="title">
				<div x-mojo-element="CheckBox" id="chkTwitter" class="checkboxClass left" name="checkboxName"></div> <div class="left chkLabel">Ping Twitter</div>
			</div>
		</div>
	</div>
		</div>

	</div>
	
	
	<div x-mojo-element="Button" class="palmbutton primary addtipok" id="okButtonShout"></div>
	<div x-mojo-element="Button" class="palmbutton negative addtipcancel" id="cancelButtonShout"></div>
</div>