<div class='result row'  x-mojo-tap-highlight='momentary' style="padding:0; padding-bottom: 7px; padding-top: 3px;">
	<img src="#{photo}" width="32" height="32"  class="friend-avatar" style="float: left; margin-left: 5px;"/>
	<div style="float: left;margin-left: 3px; width: 250px; padding-top: 0px; padding-bottom:0px;font-size:16px;">#{-mayorcrown} <span class="fakelink userLink" id="user-#{id}" data="#{id}">#{firstName} #{lastName}</span>
		<div class='friend-shout'>#{-shout}</div>
		<div class='friend-checkin'><span class="timeago" id="whenfield#{id}">#{when}</span> #{at}<span class="fakelink venueLink" id="venue-#{venue.id}" data="#{idx}">#{checkin}</span></div>
	</div><br class="breaker"/>
</div>