<div>
	<div id='docheckin-header'>
		<span id="docheckin-title" class="palm-dialog-title">Add friends using...</span>
	</div>
	<div class="palm-group" id='docheckingroup'>
		<div class="palm-group-title" x-mojo-loc=''>Search</div>
		<div class="palm-list">
	   		<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="query"></div>
					</div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" class="palmbutton primary" id="searchButton"></div>				
				</div>
			</div>
		</div>
	</div>
	
	
	<div x-mojo-element="Button" class="palmbutton negative" id="twitterButton"></div>
</div>