<div class='result row' x-mojo-tap-highlight='momentary' style="padding:0">
	<div class="" style="font-size: 16px;">#{text}</div>
	<div class='truncating-text palm-info-text capitalize' style='padding:0;padding-left:10px;padding-bottom: 7px;margin-bottom:1px;'>#{address}</div>
	<div class='truncating-text palm-info-text capitalize' style='padding:0;padding-left:10px;padding-bottom: 7px;margin-bottom:1px;margin-top:-4px;'>#{venue.name}</div>
	<div class='truncating-text palm-info-text capitalize' style='padding:0;padding-left:10px;padding-bottom: 7px;margin-bottom:1px;margin-top:-4px;'>#{distance} Away <img src="#{user.photo}" width="18" height="18" style="margin-left: 8px;" /> #{user.firstname} #{user.lastname}</div>
</div>