<div class='result row tip'  x-mojo-tap-highlight='momentary' style="position:relative;padding:0; text-align: left; padding-top: 3px; padding-bottom: 7px;">
	<span id="#{firstid}"></span>
	<div class="tiprow" style="margin-left: 3px; width: 310px; padding-top: 0px; padding-bottom:0px;font-size:16px;">
		<b>@ #{venue.name}</b>
		<div class="friend-shout">#{text}</div>
		<div class="tip-stats">
			<span class="friend-checkin" style="margin-right: 10px;">#{when}</span>
			<span class="done">#{done.count}</span>
			<span class="todo">#{todo.count}</span>			
			<span class="tipphoto" style="display:#{hasphoto};">&nbsp;</span>
		</div>
	</div>
	<div class="dogear" style="display: #{dogear};"></div>

</div>