<div>
	<div id='addtip-header'>
		<span id="addtip-title" class="palm-dialog-title">What's New:</span>
	</div>
	<div style="font-size: 15px;">
		<ul>
			<li>Adding a venue now alerts you of possible duplicates</li>
			<li>Show Your Friends now defaults to Checked</li>
			<li>Tap a badge to read its description</li>
			<li>Fixed map bugs, venue flagging bug, adding a venue bug, and a lot more</li>
		</ul>
	</div>
	<div x-mojo-element="Button" class="palmbutton primary" id="tipokButton"></div>
</div>