<div>
	<div id='addtip-header'>
		<span id="addtip-title" class="palm-dialog-title">What's New:</span>
	</div>
	<div style="font-size: 15px;">
		<ul>
			<li>GPS fixed and faster!</li>
			<li>New navigation menu</li>
			<li>Live Search</li>
			<li>Better Add Venue dialog</li>
			<li>Bug fixes, bug fixes, bug fixes!</li>
			<li>Small visual improvements</li>
			<li><a href="http://zhephree.com/foursquare/1.5log.php">View the full list of changes here</a></li>
			<li>Follow me on Twitter! <a href="http://mobile.twitter.com/zhephree">@zhephree</a></li>
		</ul>
	</div>
	<div x-mojo-element="Button" class="palmbutton primary" id="tipokButton"></div>
</div>