<div>
	<div id='addtip-header'>
		<span id="addtip-title" class="palm-dialog-title">What's New:</span>
	</div>
	<div style="font-size: 15px;">
		<ul>
			<li>Fixed a bug where some preferences and your username disappeared when launching the app from a notification</li>
			<li>Added venue's category and icon to the Venue Detail view</li>
			<li>Fixed a bug where type-to-search caused the first letter to be duplicated</li>
			<li>Delete items in your To-Do list by swiping them away</li>
			<li>Be sure to follow me on Twitter for the most up-to-date info and to ask me questions. <a href="http://m.twitter.com/zhephree">@zhephree</a></li>
		</ul>
	</div>
	<div x-mojo-element="Button" class="palmbutton primary" id="tipokButton"></div>
</div>