/* Put Application specific CSS here. */
.checkin-score {
	padding:10px;
}

.listWhiteBox {
	background-color: transparent;
	margin:10px;
	border:1px solid #999999;
}

body {
	/*background: #fff !important;*/
	/*background: #166bb4 url(../images/bg.png) no-repeat left top !important;*/
	background: #cdd3dc !important;
	}

#message {
	width: 90%;
	position: absolute;
	top: 220px;
	left: 0px;	
}

#spinnerId {
	margin: 40px auto;
}

#detailScroller {
   height: 375px;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
}

#mayorAvatar{
	float: left;
	position: relative;
	margin-left: 2px;
}
#mayorPic {
	margin-left: 4px;
	margin-top: 4px;
}
#mayorPicBorder {
	position: absolute;
	top: 0;
	left: 0;
}
#mayorCrown {
	position: absolute;
	top: -25px;
	left: 4px;
}
#mayorInfoBlock {
	float: left;
	margin-left: 8px;
	}
#mayorInfo {
	padding-left: 0;
	margin-left: 0;
}
#venueMayor {
	margin-top: 16px;
}


.breaker {
	clear: both;
}

#venueSpinner {
	z-index: 100000;
	position: absolute;
	top: 100px;
	left: 100px;
}

.venueTip {
	display: inline !important;
	line-height: 12px !important;
	float: left;
}
.venueTipUser {
	display: inline !important;
	float: left;
}
.aTip img {
	float: left;
}

#venueInfo {
	margin: 0 4px 0 4px;
}
.checkin-badge {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 2px !important;
}
.checkin-score {
	/*height: 20px !important;*/
	margin-top: 0 !important;
	margin-bottom: -13px !important;
}
#venueHeader {
	/*height: 95px !important;*/
}


#dropshadow {
	position: relative;
	/*top: 94px;*/
	margin-top: 30px;
	margin-bottom: 0;
	left: 0;
	z-index: 10000;
	background: transparent url(../images/dropshadow_top.png) no-repeat left top;
	width: 320px;
	height: 16px;
	-webkit-palm-mouse-target: ignore;
	display: none;
}

.fade-bottom {
	position: absolute;
	left: 0;
	bottom: 0px;
	z-index: 10000;
	background: transparent url(../images/fade-bottom.png) no-repeat left top;
	width: 320px;
	height: 50px;
	-webkit-palm-mouse-target: ignore;
}

.addtipok {
	width: 48%;
	float: left;
}
.addtipcancel {
	width: 48%;
	float: right;
}

.vtag {
	border-width: 8px;
	-webkit-border-image: url(../images/tag.png) 0 18 0 18;
	color: #fff !important;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px #aa57b1 ;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 11px;
	white-space: nowrap;
}
.vtip {
	border-width: 8px;
	-webkit-border-image: url(../images/tag.png) 0 18 0 18;
	color: #fff !important;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px #aa57b1 ;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 11px;
}
.vtip-black {
	border-width: 8px;
	-webkit-border-image: url(../images/tag-black.png) 0 18 0 18;
	color: #fff !important;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px #3d3c3d;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 11px;
}

.chkLabel {
	margin-top: 10px;
	margin-bottom: 0px;
}

#venueTips {clear: both;}

#docheckin {
	background: url(../images/checkin.png) no-repeat left top;
	text-indent: -9999px;
	overflow: hidden;
	width: 100px;
	height: 35px;
	margin-top: -5px;
	margin-bottom: 5px;
}


#userAvatar{
	float: left;
	position: relative;
	margin-left: 2px;
	width: 80px;
}
#userPic {
	margin-left: 4px;
	margin-top: 4px;
}
#userPicBorder {
	position: absolute;
	top: 0;
	left: 0;
}
#userInfoBlock {
	float: left;
	margin-left: 8px;
	width: 230px;
	overflow: hidden;
	}
#userInfoHeading {
	margin-top: 55px;
}
#userInfo {
	margin-left: 0;
	padding-left: 0;
}

#userSpinner,#mapSpinner {
	z-index: 100000;
	position: absolute;
	top: 100px;
	left: 100px;
}

.lefthalf {
	width: 20%;
	float: left;
}
.righthalf {
	width: 45%;
	float: right;
}

.gmnoprint {
	margin-top: -5px !important;
	margin-left: -5px !important;
}

.medium-text {
	font-size: 14px;
}

#badges-box {
	margin: 4px;
}

.palm-info-text {
	color: #001f32 !important;
}

.label {
	color: #002337 !important;
	text-shadow: 0px 1px 1px #006999 !important;
}
.linefix {
	line-height: 31px;
}

.blue-view {
	background-image: url(../images/view-menu-gradient.png) !important;
}
.blue-command {
	background-image: url(../images/command-menu-gradient.png) !important;
}

#main {
	/*padding-top: 40px;*/
}

.filter-field-container {
	margin-top: 48px !important;
}

#venueTags {
	line-height: 31px;
}

.tip-buttons {
	margin-bottom: 14px;
	margin-top: -10px;
	padding-left: 18px;
	
}
.tip-buttons2 {
	padding-bottom: 10px;
	margin-top: -6px;
	padding-left: 18px;
	
}
#map-main {
	color: #000;
}

#about-main a {
	color: #000;
}

.black-text {
	color: #000;
}
/*a {
	color: #6e1965 !important;
	text-shadow: #360c32 0px 1px 0px !important;
}*/

#about-main {
	padding: 4px;
}

#leaderboard {
	margin-top: 50px;
	padding-bottom: 50px;
}

tr.header {
	display: none;
}

#leaderboard table {
	width: 300px !important;
}
#leaderboard td{
	font-size: 14px;
}

.alert-overlay {
	background: url(../images/alertbg.png) no-repeat left top;
	width: 296px;
	height: 72px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	z-index: 999999;
	left: 10px;
	top: 50%;
	margin-top: -76px;
	padding: 4px;
	line-height: 76px;
	text-align: center;
}

.big-icon {
	width: 27px;
	height: 76px;
	padding: 10px;
	margin-left: 5px;
	float: left;
	background: url(../images/radar.png) no-repeat left middle;
}

.centered {
	text-align: center;
}

a.vtag {
	text-decoration: none;
}

.venue-info-wrap {
	width: 215px;
	float: left;
	padding-bottom: 5px;
}
.venue-name {

}
.venue-address {
	font-size: 14px;
}
.venue-distance {
	float: right;
	width: 50px;
	height: 50px;
	background: url(../images/distancebg.png) no-repeat left top;
	color: #fff;
	padding-bottom: 8px;
}
.distance-num {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
	width: 100%;
	height: 50%;
	overflow: hidden;
}
.distance-unit {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 2px;
	width: 100%;
}
.vlistrow {
	clear: both;
}

#resultListBox {
	padding: 7px;
}

.friend-avatar {
	-webkit-border-image: url(../images/list-view-avatar-frame.png) 6 7 8 7 stretch stretch;
	border-width: 4px 5px 5px 5px;
}
.friend-shout {
	font-size: 16px;
}
.friend-checkin, .tip-info {
	font-size: 14px;
	font-style: italic;
}
.tip-text {
	font-size: 16px;
}
.tip-user {
	font-style: normal !important;
}
#venueHeader, #userHeader {
	background: #828ea8 !important;
	padding-top: 7px;
	color: #d7d6d7;
	text-shadow:  1px 1px 0 #1c1c1c;
	border-bottom: 1px solid #677085;
	padding-left: 5px;
}
.aTip {
	padding-left: 5px;
}
.aTip img {
	margin-right: 5px;
}
#checkinVenueAddress, #userCity, .med-text {
	font-size: 16px;
}
#checkinVenueName, #userName {
	font-weight: bold;
}
.small-text {
	font-size: 14px;
}