/* Put Application specific CSS here. */
.checkin-score {
	padding:10px;
}

.listWhiteBox {
	background-color:#ffffff;
	margin:10px;
	border:1px solid #999999;
}

body {background-color: #fff !important;}

#message {
	width: 100%;
}

#spinnerId {
	margin: 40px auto;
}

#detailScroller {
   height: 350px;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
}

#mayorAvatar{
	float: left;
}
#mayorInfoBlock {
	float: left;
	}
#mayorInfo {
	padding-left: 0;
	margin-left: 0;
}

.breaker {
	clear: both;
}