/* Put Application specific CSS here. */
.checkin-score {
	padding:10px;
}

.listWhiteBox {
	background-color: transparent;
	margin:10px;
	border:1px solid #999999;
}

body {
	background: #e9e9e9 !important;
	/*background: #166bb4 url(../images/bg.png) no-repeat left top !important;*/
	/*background: #cdd3dc !important;*/
	}

#message, #gps-message {
	/*width: 90%;*/
/*	position: absolute;
	top: 220px;
	left: 0px;	*/
/*	margin-top: -60px;*/
	font-size: 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: 0px;
}
#gps-message {
	margin-top: 2px;
}
#login-status {
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	padding: 3px;
	background: transparent;
	color: #fff;
	
}
#gps-status {
	font-size: 13px;
	padding-left: 20px;

}

#spinnerId {
	margin: 40px auto;
}

#detailScroller {
   height: 375px;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
}

#mayorAvatar,#mayorAvatar2{
	float: left;
	position: relative;
	margin-left: 2px;
}
#mayorPic,#mayorPic2 {
	margin-left: 4px;
	margin-top: 4px;
}
#mayorPicBorder,#mayorPicBorder2 {
	position: absolute;
	top: 0;
	left: 0;
}
#mayorCrown,#mayorCrown2 {
	position: absolute;
	top: -25px;
	left: 15px;
}
#mayorInfoBlock,#mayorInfoBlock2 {
	float: left;
	margin-left: 8px;
	width: 221px;
	}
#mayorInfo,#mayorInfo2 {
	padding-left: 0;
	margin-left: 0;
}
#venueMayor {
	margin-top: 16px;
}


.breaker {
	clear: both;
}
.breaker-small {
	clear: both;
	font-size: 1px;
	height: 1px;
}

#venueSpinner,#userSpinner {
	z-index: 100000;
	position: absolute;
	top: 200px;
	left: 120px;
}

#oauthSpinner {
	z-index: 100000;
	position: fixed;
	top: 200px;
	left: 120px;
}

.venueTip {
	font-size: 16px;
}
.venueTipUser {
	font-size: 12px;
}
.aTip img {
	float: left;
}

#venueInfo {
	margin: 0 4px 0 4px;
}
.checkin-badge {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 2px !important;
}
.checkin-badge-item {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 2px !important;
	font-size: 16px;
}
.checkin-score-item {
	/*height: 20px !important;*/
	margin-top: 0 !important;
	margin-bottom: -13px !important;
	font-size: 16px !important;
	padding-bottom: 3px !important;
}
.checkin-score {
	/*height: 20px !important;*/
	margin-top: 0 !important;
	margin-bottom: -13px !important;
}
#venueHeader {
	/*height: 95px !important;*/
}


#dropshadow {
	position: relative;
	/*top: 94px;*/
	margin-top: 30px;
	margin-bottom: 0;
	left: 0;
	z-index: 10000;
	background: transparent url(../images/dropshadow_top.png) no-repeat left top;
	width: 320px;
	height: 16px;
	-webkit-palm-mouse-target: ignore;
	display: none;
}

.fade-bottom {
	position: absolute;
	left: 0;
	bottom: 0px;
	z-index: 10000;
	background: transparent url(../images/fade-bottom.png) no-repeat left top;
	width: 320px;
	height: 50px;
	-webkit-palm-mouse-target: ignore;
}

.addtipok {
	width: 48%;
	float: left;
}
.addtipcancel {
	width: 48%;
	float: right;
}

.vtag {
	border-width: 8px;
	-webkit-border-image: url(../images/tag.png) 0 18 0 18;
	color: #3d3c3d !important;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px #aa57b1 ;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 11px;
	white-space: nowrap;
}
.vtip {
	border-width: 8px;
	-webkit-border-image: url(../images/tag.png) 0 18 0 18;
	color: #3d3c3d !important;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px #aa57b1 ;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 11px;
}
.vtip-black {
	border-width: 8px;
	-webkit-border-image: url(../images/tag-black.png) 0 18 0 18;
	color: #fff !important;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px #3d3c3d;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 11px;
}
.header-button {
	border-width: 8px;
	-webkit-border-image: url(../images/tag.png) 0 18 0 18;
	color: #fff !important;
	padding: 2px;
	text-align: center;
	text-shadow: 0 1px 1px #aa57b1 ;
	font-size: 18px;
	margin-left: 5px;
	margin-bottom: 11px;
	white-space: nowrap;
	line-height: 15px;
}


.chkLabel {
	margin-top: 10px;
	margin-bottom: 0px;
}

#venueTips {clear: both;}

#docheckin {
	background: url(../images/checkin.png) no-repeat left top;
	text-indent: -9999px;
	overflow: hidden;
	width: 108px;
	height: 42px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#vcategory {
	width: 108px;
	height: 42px;
	margin-top: 0px;
	margin-bottom: 5px;

}


#userAvatar{
	float: left;
	position: relative;
	margin-left: 2px;
	width: 80px;
}
#pop-tip #userAvatar{
	float: left;
	position: relative;
	margin-left: 2px;
	width: 70px !important;
}
#userPic {
	margin-left: 4px;
	margin-top: 4px;
}
#userPicBorder {
	position: absolute;
	top: 0;
	left: 0;
}
#userInfoBlock {
	float: left;
	margin-left: 8px;
	width: 230px;
	overflow: hidden;
	}
#userInfoHeading {
	margin-top: 55px;
}
#userInfo {
	margin-left: 0;
	padding-left: 0;
}

#mapSpinner {
	z-index: 100000;
	position: absolute;
	top: 100px;
	left: 100px;
}
#helpSPinner {
	z-index: 100000;
	position: absolute;
	top: 200px;
	left: 100px;
}

.lefthalf {
	width: 20%;
	float: left;
}
.righthalf {
	width: 45%;
	float: right;
}

/*.gmnoprint {
	margin-top: -5px !important;
	margin-left: -5px !important;
}*/

.medium-text {
	font-size: 14px;
}

#badges-box {
	margin: 4px;
}

.palm-info-text {
	color: #001f32 !important;
}

.label {
	color: #002337 !important;
	text-shadow: 0px 1px 1px #006999 !important;
}
.linefix {
	line-height: 31px;
}

.blue-view {
	background-image: url(../images/view-menu-gradient.png) !important;
}
.blue-command {
	background-image: url(../images/command-menu-gradient.png) !important;
}

#main {
	/*padding-top: 40px;*/
}

.filter-field-container {
	margin-top: 48px !important;
}

#venueTags {
	line-height: 31px;
}

.tip-buttons {
	margin-bottom: 14px;
	margin-top: -10px;
	padding-left: 18px;
	
}
.tip-buttons2 {
	padding-bottom: 10px;
	margin-top: -6px;
	padding-left: 18px;
	
}
#map-main {
	color: #000;
}

.about-dialog a {
	color: #66c6e2;
}

.black-text {
	color: #000 !important;
}
/*a {
	color: #6e1965 !important;
	text-shadow: #360c32 0px 1px 0px !important;
}*/

#about-main {
	/*padding: 4px;*/
}

#leaderboard {
	margin-top: 50px;
	padding-bottom: 50px;
}

tr.header {
	display: none;
}

#leaderboard table {
	width: 300px !important;
}
#leaderboard td{
	font-size: 14px;
}

.alert-overlay {
	background: url(../images/alertbg.png) no-repeat left top;
	width: 296px;
	height: 72px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	z-index: 999999;
	left: 10px;
	top: 50%;
	margin-top: -76px;
	padding: 4px;
	line-height: 76px;
	text-align: center;
}

.big-icon {
	width: 27px;
	height: 76px;
	padding: 10px;
	margin-left: 5px;
	float: left;
	background: url(../images/radar.png) no-repeat left middle;
}

.centered {
	text-align: center;
}

a.vtag,a.vtip-black {
	text-decoration: none;
}

.venue-category {
	width: 32px;
	float: left;
	padding-right: 3px;
}
.venue-cat-icon {

}
.venue-cat-name {
	font-size: 10px;
	text-align: center;
	margin-top: 2px;
	width: 100%;

}

.venue-footer {
	color: #929292;
	font-size: 12px;
}




.venue-info-wrap {
	width: 260px;
	padding-right: 5px;
	float: left;
	padding-bottom: 5px;
	padding-left: 3px;
}
.venue-info-wrap.touchpad {
	width: 95%;
}
.venue-info-wrap.thin {
	width: 170px;
	padding-right: 5px;
	float: left;
	padding-bottom: 5px;
	padding-left: 3px;
}
.venue-info-wrap.thinmayorships {
	width: 215px !important;
	padding-right: 5px;
	float: left;
	padding-bottom: 5px;
	padding-left: 3px;
}
.venue-name {
	color: #4d4d4d;
	font-size: 16px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	border: 0px solid transparent;
	background-color: transparent;
}

.venue-name.selected {
	background-color: rgba(0,0,0,0.4);
}
.venue-address {
	font-size: 14px;
	color: #828282;
	height: 18px;
}
.venue-distance {
	float: right;
	width: 55px;
	height: 50px;
	background: url(../images/distancebg.png) no-repeat left top;
	color: #fff;
	padding-bottom: 2px;
	font-size: 15px;
}
.fsq-venue-distance {
	color: #000;
	padding-bottom: 8px;
	max-width: 50px;
}
.fsq-distance-unit {
	font-size: 15px;
	width: 12px;
	padding: 0;
	color: #929292
	
}
.fsq-distance-num {
	font-size: 15px;	
	padding-left: 4px;
	color: #929292;
}
.fsq-people-num {
	font-size: 15px;
	padding-left: 4px;
	color: #929292;
}

.fsq-hasheader {
	padding-top: 9px;
}

#venue .palm-list .palm-row.first, #venue .palm-list .palm-row.single {
	border-bottom: #ccc !important;
}

.result.row.tip {
	background-color: #e9e9e9;
}
.result.row.selected {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
}

.result.row.selected.first {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
}

.result.row.selected.single {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
}

.result.row.selected.last, .list-item-add-button.selected {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
}
.result.row.selected > div,.result.row.selected.first > div,.result.row.selected.single > div,.result.row.selected.last > div, .list-item-add-button.selected > div
 {
  /* negative margin is applied to negate the offset created by the
  -webkit-border-image used to style the row and its highlight */
 margin: 0px -0px;
 margin-top: 1px;
 margin-bottom: -1px;
}

.fakelink, .listlink {
	color: #0e86a8;
	font-weight: normal;
	text-decoration: none;
}

.blue-text {
	color: #0e86a8;
}

.charCount {
	font-size: 14px;
	color: #1584c8 !important;
	font-weight: bold;
	background: #fff;
	padding-right: 3px;
	margin-top: -4px;
}
.charCount.negative {
	font-size: 14px;
	color: #c7009b !important;
	font-weight: bold;
	background: #fff;
}


.distance-num {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
	width: 100%;
	height: 50%;
	overflow: hidden;
}
.distance-unit {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 2px;
	width: 100%;
}
.vlistrow {
	clear: both;
}

/*#results-venue-list {
	padding: 7px;
}*/

.friend-avatar {
/*	-webkit-border-image: url(../images/list-view-avatar-frame.png) 6 7 8 7 stretch stretch;
	border-width: 4px 5px 5px 5px;*/
	background: #fff;
	border: 1px solid #c3c3c3;
	padding: 3px;
	margin-right: 2px;
}
.friend-shout {
	font-size: 16px;
}
.friend-checkin {
	font-size: 14px;
	color: #7f7f7f;
}

.tip-info {
	font-size: 14px;
	font-style: italic;
}
.tip-text {
	font-size: 16px;
}
.tip-user {
	font-style: normal !important;
}
/*#venueHeader, #userHeader {
	background: #828ea8 !important;
	padding-top: 7px;
	color: #d7d6d7;
	text-shadow:  1px 1px 0 #1c1c1c;
	border-bottom: 1px solid #677085;
	padding-left: 5px;
}*/
#venueHeader, #userHeader, .tip-venue, #tipHeader {
	background: url(../images/big-blue-header.png) top left;
	-webkit-border-image: url(../images/inner-shadow.png) 24 24 24 24 stretch stretch;
	border-width: 20px 20px 20px 20px;
	color: #fff;
	text-shadow:  1px 1px 0 #1c1c1c;
}

#userHeader, #venueHeader {
	margin-top: -60px !important;
	padding-bottom: 0;
	border-bottom-width: 10px;
}

#todo-venue {
	margin: -8px;
	padding: 0;
	line-height: 18px !important;
}

.tip-venue a {
	color: #fff;
	font-size: 16px;
	border-width: 15px 15px 15px 15px !important;
}

.header-bottom-border {
	background: #97d900;
	border-bottom: 1px solid #81b900;
	height: 5px;
	margin: 0 0 0px 0;
}

#mojo-scene-about-scene-scroller, 
#mojo-scene-shout-scene-scroller,
#mojo-scene-checkin-scene-scroller,
#mojo-scene-checkin-result-scene-scroller-nope {
	background: url(../images/grey-bg.png) top left;
}

.grey-bg{
	background: url(../images/grey-bg.png) top left;
	-webkit-border-image: url(../images/inner-shadow.png) 24 24 24 24 stretch stretch;
	border-width: 20px 20px 20px 20px;
	color: #fff;
	text-shadow:  1px 1px 0 #1c1c1c;
}

.grey-bg-noshadow{
	background: url(../images/grey-bg.png) top left;
	color: #fff;
	text-shadow:  1px 1px 0 #1c1c1c;
	padding: 4px;
}

.fsq-spacer{
	height: 59px;
}
#checkin-info {
	font-size: smaller;
	margin-bottom: 4px;
}
.aTip {
	padding-left: 5px;
}
.aTip img {
	margin-right: 5px;
}
#checkinVenueAddress, #userCity, .med-text {
	font-size: 14px;
}
#checkinVenueName, #userName {
	font-size: 18px;
	font-weight: bold;
}
.small-text {
	font-size: 14px;
	line-height: 14px;
}
.small-text-line {
	font-size: 14px;
}
#accuracy {
	line-height: normal !important;
	overflow: hidden;
}
.italic {
	font-style: italic;
}

.sliderClass {
	width: 50% !important;
}

.wide-slide {
	width: auto !important;
}
.checkin-venue {
	font-size: 16px;
	font-style: italic;
}
.special-list {
	padding: 5px;
	width: 290px !important;
}

#checkin-display {
	font-style: italic;
	padding: 4px;
	font-size: 15px;
	width: 87%;
	margin: 5px auto;
	border: 1px solid #000;
}
#score-title {
	font-weight: bold;
	font-size: 18px;
}
#checkin-scores {
	margin: 0px;
	padding: 2px;
	margin-bottom: 5px;
}
.checkin-special {
	-webkit-border-image: url(../images/specialbg-blue.png) 5 5 5 5 repeat repeat;
	border-width: 5px;
	padding-top: 7px;
	color: #fff;
	text-shadow:  1px 1px 0 #1c1c1c;
	padding-left: 5px;
	margin: 0px;
	padding: 2px;
	font-size: 16px;
	margin-top: 4px;

}
.checkin-special-title {
	color: #002337;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
}

.checkin-special-title img {
	width: 20px;
	height: 20px;
}
.special-locked {
	font-size: 15px;
	height: 22px;
	color: #002337;
	padding-left: 25px;
	margin-top: 3px;
	background: url(../images/special_locked.png) no-repeat left top;
}
.special-unlocked {
	font-size: 15px;
	height: 22px;
	color: #002337;
	padding-left: 25px;
	margin-top: 3px;
	background: url(../images/special_unlocked.png) no-repeat left top;
}

#special_content {
	padding: 5px;
	padding-left: 10px;
}

#special-description {
	font-weight: bold;
	margin-bottom: 5px;
}

#special-fine-print {
	margin-top: 5px;
}



#mayor-group {
	font-size: 14px;
	margin: 0px;
	padding: 2px;
}
#mayor-group .palm-row.single {
	min-height: 25px !important;
}

#slidergroup {
	padding-left: 3px;
}
.palm-slider-background{
	width: 200px !important;
}
#sliderGPS {
	margin-left: -7px !important;
}

#meta-buttons {
	padding: 0 7px 0 7px;
}
#meta-overlay {
	-webkit-border-image: url(../images/overlay.png) 17 17 17 17 stretch stretch;
	border-width: 15px 15px 15px 15px;
	z-index: 9999;
	width: 270px;
	left: 10px;
	top: 60px;
	position: absolute;
	color: #fff;
}
.overlay-title {
	position: relative;
	top: -9px;
}
#overlay-closer {
	width: 32px;
	height: 32px;
	background: url(../images/overlay-close.png) no-repeat left top;
	position: absolute;
	right: -36px;
	top: -5px;
}
#overlayScroller {
   height: 260px;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3px;
   margin-bottom: -15px;
}
#results-meta-list {

}
#results-meta-list .venue-info-wrap {

}
#overlay-content {
	color: #000 !important;
	width: 320px;
	margin: 4px;
}
#gps_banner, .blue-box {
	background: url(../images/dark-zags.png) repeat-x left bottom;
	color: #fff;
	font-size: 15px;
	padding: 4px;
	height: 20px;
	width: 100%;
}
#smallSpinner {
	float: left;
}
#refresh-venues {

}

.fsq-fade-bottom {
	background: #0f0 url(../images/fsq-menu-gradient.png) left top;
	height: 54px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 999;
}

.small-bot-margin {
	margin-bottom: -21px;
}

.blocky {
	display: block;
	float: left;
}
.uinfo {
	float: right;
	width: 190px;
}
.lefter {float:left;}
.righter{float:right;}

.thin-header-redux {
	background: url(../images/fsq-header-bg.png) repeat-x !important;
	text-align: center;
	color: #000;
	font-size: 25px;
	height: 80px;
	padding-top: 8px;
	position: fixed;
	top:0;
	left:0;
	z-index: 990000;
	width: 100%;
}

.thin-blue-header {
	color: #fff;
	text-transform: capitalize;
	font-size: 16px;
	background: url(../images/small-blue-header.png) repeat-x;
	top: 42px;
	position: absolute;
	height: 31px;
	width: 100%;
	left: 0px;
	text-align: center;
	font-weight: bold;
	padding-top: 4px;
}
.letterpress {
	position: relative;
	width: 100%;
	height: 100%;
}
.refresh-button {
	position: absolute;
	right: 18px;
	top: 2px;
	width: 27px;
	height: 28px;
	background: url(../images/refresh.png) no-repeat left top;
}
.refresh-button.nobg {
	position: absolute;
	right: 18px;
	top: 2px;
	width: 27px;
	height: 28px;
	background: none;
}
.refresh-button.pressed {
	background: url(../images/refresh.png) no-repeat left -28px;
}
.shout-button {
	position: absolute;
	right: 18px;
	top: 2px;
	width: 45px;
	height: 29px;
	background: url(../images/shout-small.png) no-repeat left top;
}
.shout-button.pressed {
	background: url(../images/shout-small.png) no-repeat left -29px;
}
.map-button {
	position: absolute;
	left: 18px;
	top: 2px;
	width: 28px;
	height: 28px;
	background: url(../images/map-button.png) no-repeat left top;
}
.map-button.pressed {
	background: url(../images/map-button.png) no-repeat left -28px;
}
.nearby-button {
	position: absolute;
	left: 18px;
	top: 4px;
	width: 29px;
	height: 28px;
	background: url(../images/nearby-button.png) no-repeat left top;
}
.nearby-button.pressed {
	background: url(../images/nearby-button.png) no-repeat left -28px;
}
.feed-button {
	position: absolute;
	left: 18px;
	top: 2px;
	width: 29px;
	height: 28px;
	background: url(../images/feed-button.png) no-repeat left top;
}
.feed-button.pressed {
	background: url(../images/feed-button.png) no-repeat left -28px;
}
.white-text {
	color: #fff;
	position: absolute;
	padding-left: 0px;
	padding-top: 0px;
	width: 100%;
	height: 100%;
	top: 1px;
	left: 1px;
}
.dark-shadow {
	color: #323231;
	padding-left: 0px;
	padding-top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
}

.thin-header {
	background: #828ea8 !important;
	padding-top: 7px;
	color: #d7d6d7;
	text-shadow:  1px 1px 0 #1c1c1c;
	border-bottom: 1px solid #677085;
	padding-left: 5px;
}


#zBar {
	height: 47px;
	width: 100%;
	background: url(../images/footer.png) no-repeat left top;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	padding-top: 7px;
}
.zButton.active, .zButton.big.active {
	background-color: #b06fb6;
}
.zButton.highlight {
	background-color: #87558c;
}

.zButton.wide {
	border: 1px solid #697388;
}

#shout-main #photo-controls {
	/*display: none; /*hidden until we actually implement this*/
}

.clear-button {
	border-width: 8px;
	-webkit-border-image: url(../images/swipe-undo-button-up.png) 0 11 0 11;
	color: #fff !important;
	padding: 0px;
	text-align: center;
	text-shadow: 0 1px 1px #aa57b1 ;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 11px;
	white-space: nowrap;
}
.attach-button {
	width: 32px;
	height: 32px;
	background: url(../images/menu-icon-attach.png) no-repeat left top;
}
.pressed {
/*	background: url(../images/menu-icon-attach.png) no-repeat 32px;*/
}


#remove-button {
	width: 25px;
	height: 25px;
	background: url(../images/remove-button.png) no-repeat left top;
	position: absolute;
	bottom: 20px;
	right: 2px;
}
#img-preview {
	position: relative;
	width: 100px;
}

.palm-group:not(.unlabeled) {
	/*-webkit-border-image: url(../images/group.png) 40 18 18 18 repeat repeat !important;*/
}

.headlink {
	color: #1f1f1f;
}

.dashboard-icon-fsq {
	background: url(../icon_48x48.png);
}

#about-main {
	background: #1e1e1e url(../images/darker-bg.png) repeat left top;
}
.darkerbg {
	-webkit-border-image: url(../images/darker-bg.png) 5 5 5 5 repeat repeat !important;
	border: 5px;
	color: #84e2f5;
}
.white-round {
	-webkit-border-image: url(../images/white-round-bg.png) 5 5 5 5 repeat repeat !important;
	border: 5px;
	color: #1e1e1e;
}

.white-round {
	-webkit-border-image: url(../images/white-round-bg.png) 5 5 5 5 repeat repeat !important;
	border: 5px;
	color: #1e1e1e;
}
.smallest {
	font-size: 11px;
}
.bigtext {
	font-size: 18px;
	font-weight: bold;
}
#ping-switch {
	position: absolute;
	top: 80px;
	left: 0px;
}
#user-mayorinfo {
	width: 88px;
	float: left;
	margin-right: 2px;
	margin-top: 3px;
}
#user-badgeinfo {
	width: 88px;
	float: left;
	margin-top: 3px;
	margin-left: 2px;
	margin-right: 2px;
}
#user-tipinfo {
	width: 88px;
	float: left;
	margin-top: 3px;
	margin-left: 2px;
}
#user-checkininfo {
	width: 88px;
	float: left;
	margin-top: 3px;
	margin-left: 2px;
}
#mayorcount {
	background: url(../images/crown_25x25.png) no-repeat left top;
	padding-left: 30px;
}
#badgecount {
	background: url(../images/badges.png) no-repeat left top;
	padding-left: 30px;
}
#checkin-count {
	background: url(../images/checkins.png) no-repeat left top;
	padding-left: 30px;
}


.fsq-divider {
	height: 25px;
	width: 100%;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	padding-left: 5px;
	text-align: left;
/*	background: url(../images/divider-bg.png);*/
	background: #d6d6d6;
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #f2f2f2;
}


.share-button {
	width: 35px;
	height: 35px;
	display: block;
	float: right;
	background-position: left top;
	background-repeat: no-repeat;
}
.share-button.fbook {
	background-image: url(../images/share-fbook.png);
}
.share-button.fbook.pressed {
	background-position: left -35px;
}

.share-button.twit {
	background-image: url(../images/share-twit.png);
	margin-right: 10px;
}
.share-button.twit.pressed {
	background-position: left -35px;
}

.share-button.flickr {
	background-image: url(../images/share-flickr.png);
	margin-right: 10px;
}
.share-button.flickr.pressed {
	background-position: left -35px;
}

body.zblack #zBar {
	height: 47px;
	width: 100%;
	background: url(../images/footer-black.png) no-repeat left top;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	padding-top: 7px;
}
body.zblack .zButton.active, .zButton.big.active {
	background-color: #525252;
}
body.zblack .zButton.highlight {
	background-color: #1c223d;
}

body.zblack .zButton.wide {
	border: 1px solid #697388;
}
body.zblack {
	background: #fff !important;
}
body.zblack .thin-header {
	background: #000 !important;
	padding-top: 7px;
	color: #ccc;
	text-shadow:  1px 1px 0 #1c1c1c;
	border-bottom: 1px solid #515151;
	padding-left: 5px;
}




body.zblue #zBar {
	height: 47px;
	width: 100%;
	background: url(../images/footer-blue.png) no-repeat left top;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	padding-top: 7px;
}
body.zblue .zButton.active, .zButton.big.active {
	background-color: #3166b3;
}
body.zblue .zButton.highlight {
	background-color: #0e4676;
}

body.zblue .zButton.wide {
	border: 1px solid #3166b3;
}
body.zblue {
	background: #eee !important;
}
body.zblue .thin-header {
	background: #3aaed6 !important;
	padding-top: 7px;
	color: #ccc;
	text-shadow:  1px 1px 0 #1c1c1c;
	border-bottom: 1px solid #3166b3;
	padding-left: 5px;
}






body.zred #zBar {
	height: 47px;
	width: 100%;
	background: url(../images/footer-red.png) no-repeat left top;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	padding-top: 7px;
}
body.zred .zButton.active, .zButton.big.active {
	background-color: #7d2c1e;
}
body.zred .zButton.highlight {
	background-color: #0e4676;
}

body.zred .zButton.wide {
	border: 1px solid #7d2c1e;
}
body.zred {
	background: #eee !important;
}
body.zred .thin-header {
	background: #d6503a !important;
	padding-top: 7px;
	color: #ccc;
	text-shadow:  1px 1px 0 #1c1c1c;
	border-bottom: 1px solid #7d2c1e;
	padding-left: 5px;
}







body.zblueb #zBar {
	height: 47px;
	width: 100%;
	background: url(../images/footer-blue2.png) no-repeat left top;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	padding-top: 7px;
}
body.zblueb .zButton.active, .zButton.big.active {
	background-color: #4fc1e1;
}
body.zblueb .zButton.highlight {
	background-color: #0e4676;
}

body.zblueb .zButton.wide {
	border: 1px solid #7d2c1e;
}
body.zblueb {
	background: #fff !important;
	color: #25303a;
}
body.zblueb .thin-header {
	background: #1c262e !important;
	padding-top: 7px;
	color: #ccc;
	text-shadow:  1px 1px 0 #1c1c1c;
	border-bottom: 1px solid #4fc1e1;
	padding-left: 5px;
}



.fsq-fade {
	background-image: url(../images/fsq-menu-gradient.png);
}
.fsq-button .palm-button {
  -webkit-border-image: url(../images/fsq-button.png) 0 17 104 17 repeat repeat !important;
  margin: 0;
}

.fsq-button .palm-button.selected.primary,
.fsq-button .palm-button.selected {
  -webkit-border-image: url(../images/fsq-button.png) 52 17 52 17 repeat repeat !important;
}

.fsq-button .palm-button.disabled.primary,
.fsq-button .palm-button.disabled {
  -webkit-border-image: url(../images/fsq-button.png) 104 17 0 17 repeat repeat !important;
}


.fsq-button .palm-button-wrapper {
  position: relative;
}

.fsq-button .palm-button-wrapper .activity-spinner {
  position: absolute;
  right: 5px;
}

.textfield-group {
	color: #000 !important;
}

.tooltip {
	position: fixed;
	bottom: 5px;
	width: 100%;
	z-index: 999;
	font-size: 13px;
	color:  #fff !important;
	background: rgba(0,0,0,0.6);
	padding: 3px;
}




#nearby-special {
	width: 80px;
	height: 53px;
	position: fixed;
	left: 10px;
	top: -53px;
	z-index: 99999;
}
#nearby-special.nearby-button2 {
	background: url(../images/special-nearby.png) no-repeat left top;
}
#nearby-special.here-button {
	background: url(../images/special-here.png) no-repeat left top;
}


#main #sendField {
	background: #fff url(../images/search-grey.png) no-repeat 2px 6px;
	padding-left: 28px;
}

.navbar-menu {
	z-index: 19002;
	background: url(../images/menu/menu-bg-top.png) no-repeat left top;
}

.navbar-menu.trans {
	background: transparent !important;
}
/* Grouped buttons */

.navbar-menu .palm-menu-group .palm-menu-button,
.navbar-menu .palm-menu-group .palm-menu-label,
.navbar-menu .palm-menu-group .palm-menu-text {
  -webkit-border-image: url(../images/menu/menu-middle.png) 0 25 101 25 repeat repeat;
}

.navbar-menu .palm-menu-group .palm-menu-button:first-child,
.navbar-menu .palm-menu-group .palm-menu-label:first-child,
.navbar-menu .palm-menu-group .palm-menu-text:first-child {
  -webkit-border-image: url(../images/menu/menu-first.png) 0 25 101 25 repeat repeat;
}

.navbar-menu .palm-menu-group .palm-menu-button:nth-child(3),
.navbar-menu .palm-menu-group .palm-menu-label:nth-child(3),
.navbar-menu .palm-menu-group .palm-menu-text:nth-child(3) {
  -webkit-border-image: url(../images/menu/menu-middle.png) 0 25 101 25 repeat repeat;
}

.navbar-menu .palm-menu-group .palm-menu-button:last-child,
.navbar-menu .palm-menu-group .palm-menu-label:last-child,
.navbar-menu .palm-menu-group .palm-menu-text:last-child {
  -webkit-border-image: url(../images/menu/menu-last.png) 0 25 101 25 repeat repeat;
}

/* Selected toggle buttons */

.navbar-menu .palm-menu-group .palm-menu-button.selected,
.navbar-menu .palm-menu-group .palm-menu-label.selected,
.navbar-menu .palm-menu-group .palm-menu-text.selected {
  -webkit-border-image: url(../images/menu/menu-middle.png) 50 25 51 25 repeat repeat;
}

.navbar-menu .palm-menu-group .palm-menu-button.selected:first-child,
.navbar-menu .palm-menu-group .palm-menu-label.selected:first-child,
.navbar-menu .palm-menu-group .palm-menu-text.selected:first-child {
  -webkit-border-image: url(../images/menu/menu-first.png) 50 25 51 25 repeat repeat;
}

.navbar-menu .palm-menu-group .palm-menu-button.selected:nth-child(2),
.navbar-menu .palm-menu-group .palm-menu-label.selected:nth-child(2),
.navbar-menu .palm-menu-group .palm-menu-text.selected:nth-child(2) {
  -webkit-border-image: url(../images/menu/menu-middle.png) 50 25 51 25 repeat repeat;
}

.navbar-menu .palm-menu-group .palm-menu-button.selected:last-child,
.navbar-menu .palm-menu-group .palm-menu-label.selected:last-child,
.navbar-menu .palm-menu-group .palm-menu-text.selected:last-child {
  -webkit-border-image: url(../images/menu/menu-last.png) 50 25 51 25 repeat repeat;
}

/* Selected/Depressed toggle buttons */

.navbar-menu .palm-menu-group .palm-menu-text.palm-depressed,
.navbar-menu .palm-menu-group .palm-menu-label.palm-depressed,
.navbar-menu .palm-menu-group .palm-menu-button.palm-depressed {
  -webkit-border-image: url(../images/menu/menu-middle.png) 100 25 1 25 repeat repeat;
}

.navbar-menu .palm-menu-group.notifications .palm-menu-text:first-child,
.navbar-menu .palm-menu-group.notifications .palm-menu-label:first-child,
.navbar-menu .palm-menu-group.notifications .palm-menu-button:first-child {
  -webkit-border-image: url(../images/menu/menu-first.png) 100 25 1 25 repeat repeat;
}

.navbar-menu .palm-menu-group.compose .palm-menu-text:nth-child(2),
.navbar-menu .palm-menu-group.compose .palm-menu-label:nth-child(2),
.navbar-menu .palm-menu-group.compose .palm-menu-button:nth-child(2) {
  -webkit-border-image: url(../images/menu/menu-middle.png) 100 25 1 25 repeat repeat;
}

.navbar-menu .palm-menu-group.grid .palm-menu-text:last-child,
.navbar-menu .palm-menu-group.grid .palm-menu-label:last-child,
.navbar-menu .palm-menu-group.grid .palm-menu-button:last-child {
  -webkit-border-image: url(../images/menu/menu-last.png) 100 25 1 25 repeat repeat;
}

/* Selected active toggle buttons */

.navbar-menu .palm-menu-group .palm-menu-text.selected.palm-depressed,
.navbar-menu .palm-menu-group .palm-menu-label.selected.palm-depressed,
.navbar-menu .palm-menu-group .palm-menu-button.selected.palm-depressed {
  -webkit-border-image: url(../images/menu/menu-middle.png) 50 25 51 25 repeat repeat;
}

.navbar-menu .palm-menu-group .palm-menu-text.selected.palm-depressed:first-child,
.navbar-menu .palm-menu-group .palm-menu-label.selected.palm-depressed:first-child,
.navbar-menu .palm-menu-group .palm-menu-button.selected.palm-depressed:first-child {
  -webkit-border-image: url(../images/menu/menu-first.png) 50 25 51 25 repeat repeat;
}

/*.navbar-menu .palm-menu-group .palm-menu-text.selected:nth-child(2),*/
/*.navbar-menu .palm-menu-group .palm-menu-label.selected:nth-child(2),*/
/*.navbar-menu .palm-menu-group .palm-menu-button.selected:nth-child(2) {*/
  /*-webkit-border-image: url(../images/menus/menu-middle.png) 50 25 51 25 repeat repeat;*/
/*}*/

.navbar-menu .palm-menu-group .palm-menu-text.selected.palm-depressed:last-child,
.navbar-menu .palm-menu-group .palm-menu-label.selected.palm-depressed:last-child,
.navbar-menu .palm-menu-group .palm-menu-button.selected.palm-depressed:last-child {
  -webkit-border-image: url(../images/menu/menu-last.png) 50 25 51 25 repeat repeat;
}



.navbar-menu .palm-menu-button  {
  width: 80px;
  max-width: none;
}

.navbar-menu .palm-menu-group .palm-menu-icon {
  left: -25px;
}


.navbar-menu .palm-menu-group > div:nth-child(1) > .palm-menu-icon {
  width: 32px;
  margin-left: 18px;
  background-image: url('../images/menus/menu-icon-notifications.png') no-repeat;
  background-repeat: no-repeat !important;
}


.navbar-menu .palm-menu-group > div:nth-child(2) > .palm-menu-icon {
  width: 110px;
  height: 26px;
  margin-left: 24px;
  margin-top: 2px;
  background: url('../images/menu/foursquare-logo.png') no-repeat;
}

.navbar-menu .palm-menu-group > div:nth-child(3) > .palm-menu-icon {
  width: 36px;
  margin-left: 18px;
  background-image: url('../images/menus/menu-icon-grid.png');
}



.navbar-menu-panel, .settings-menu-panel {
	margin: 0 auto;
	padding-left: 2px;
	padding-top: 25px;
}

.menu-button {
	width: 80px;
	height: 74px;
	float: left;
	text-align: center;
	padding: 4px 0 2px 0;
	background: url(../images/menu/button-bg.png) no-repeat left top;
	position: relative;
}

.menu-button.selected {
	background-position: left -82px;
}
.menu-button.active {
	background-position: left -164px;
}
.menu-button-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.menu-button img {
	width: 48px;
	height: 48px;
	margin: 0 auto;
}
.menu-button .helpicon {
	width: 48px;
	height: 48px;
	margin: 7px auto;
}
.menu-button .caption {
	font-size: 14px;
	text-align: center;
}
.menu-spacer {
	float: left;
	width: 0.67em;
	height: 65px;
}
.menu-row-spacer {
	height: 10px;
	clear: both;
}

.help-area {
	float: left;
	width: 180px;
	padding-left: 3px;
}

.innershadow {
/*	background: url(../images/dropshadow.png) no-repeat left top;*/
	position: fixed;
	left: 0;
	top: 85px;
	width: 100%;
	height: 15px;
	z-index: 18900;
	-webkit-palm-mouse-target: ignore;
}

.requests{
	margin-top:7px;
	font-size: 15px;
}
.friend-request{
	color: #000;
	background: transparent;
	padding: 2px;
}
.friend-request.selected {
	color: #fff;
	background: #4b4c4d;
	padding: 2px;
}
.request-user {
	color: #39a7c3;
	font-weight: bold;
}

.inrow {
	padding: 2px;
}



.help{
	color: #000;
	background: transparent;
	padding: 2px;
	font-size: 15px;
	text-align: right;
	height: 25px;
	margin-bottom: 3px;
}
.help.selected {
	color: #fff;
	background: #4b4c4d;
	padding: 2px;
}
.help-text {
	color: #39a7c3;
	font-weight: bold;

}

.help-area a {
	color: #39a7c3;
	font-weight: bold;
	text-decoration: none;
}





.wh-wrap {
	font-size: 16px;
}
.wh-user {
	color: #0e86a8;
	font-weight: bold;
}
.wh-time {
	font-size: 13px;
}
.wh-shout {
	-webkit-border-image: url(../images/shout-bg.png) 6 11 11 6 stretch !important;
	border-width: 6px 11px 11px 6px;
	padding: 2px;
	color: #fff;
	position: relative;

}
.wh-shout a {
	color: #8ed00b;
	font-weight: bold;
}
.wh-shout-tail {
	width: 17px;
	height: 20px;
	position: absolute;
	left: -16px;
	top: 50%;
	margin-top: -50%;
	background: url(../images/shout-tail.png) no-repeat left top;
}

#map_canvas div div div div.gmnoprint div {
/*	height: auto !important;*/
}
#map_canvas div div div div.gmnoprint div div {
	height: auto !important;
}

.map_info {
	z-index: 9999;
	background: rgba(0,0,0,0.6);
	color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-left: 5px;
}

.small-map {
	width: 100%;
	height: 150px;
	position: relative;
}

.small-map-info {
	z-index: 999;
	background: rgba(0,0,0,0.6);
	color: #fff;
	position: relative;
	left: 0;
	margin-top: -150px;
	width: 100%;
	padding-left: 5px;
	text-align: center;
	font-size: 14px;
}
.full-map-info {
	z-index: 999;
	background: rgba(0,0,0,0.6);
	color: #fff;
	position: fixed;
	left: 0;
	top: 10px;
	width: 100%;
	padding-left: 5px;
	text-align: center;
	font-size: 14px;
}

.full-map {
	width: 100%;
	height: 480px;
	position: relative;
}


.pusheddown {
	margin-top: 150px;
}

.mi-left {
	width: 50px;
	float: left;
}
.mi-left-thin {
	width: 37px;
	float: left;
}
.mi-right {
	width: 268px;
	float: right;
}

#notice, .notice {
	-webkit-box-flex: 1;
	text-align: center;
	line-height: 100%;
	font-size: 14px;
	color: #bbb;
	margin-top: 100px;
	background: url(../images/frown.png) no-repeat center bottom;
	min-height: 84px;
	font-weight: bold;
}



/*********BADGES********/
.badge {
	width: 50px;
	float: left;
	position: relative;
}
.badgeoverlay {
	z-index: 50;
	width: 100%;
	height: 100%;
	-webkit-palm-mouse-target: ignore;
}
.badgecontent {
	font-size: 14px;
	text-align: center;
	z-index: 40;
}



.badge.tape {
	width: 81px;
	height: 71px;	
}
.badge.tape .badgeoverlay {
	background: url(../images/badges/tape.png) no-repeat left top;
	position: absolute;
	top: 0;
	left: 0;
}
.badge.tape .badgecontent {
	position: absolute;
	top: 8px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.badge.tape img {
	-webkit-transform:rotate(20deg)
}


.badge.paperclip {
	width: 71px;
	height: 71px;
}
.badge.paperclip .badgeoverlay {
	background: url(../images/badges/paperclip.png) no-repeat left top;
	position: absolute;
	top: 0;
	left: 3px;
}
.badge.paperclip .badgecontent {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.badge.paperclip img {
	-webkit-transform:rotate(-20deg)
}

.badge.sticker {
	width: 71px;
	height: 95px;	
}
.badge.sticker .badgeoverlay {
	background: url(../images/badges/sticker.png) no-repeat left top;
	position: absolute;
	top: 30px;
	left: 23px;
}
.badge.sticker .badgecontent {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.badge.sticker img.slight-left {
	-webkit-transform:rotate(-10deg)
}
.badge.sticker img.left {
	-webkit-transform:rotate(-25deg)
}
.badge.sticker img.slight-right {
	-webkit-transform:rotate(10deg)
}
.badge.sticker img.right {
	-webkit-transform:rotate(25deg)
}

.badge.sticker .badgeoverlay.slight-left {
	-webkit-transform:rotate(-10deg);
	top: 25px;
	left: 31px;
}
.badge.sticker .badgeoverlay.left {
	-webkit-transform:rotate(-25deg);
	left: 43px;
	top: 15px;
}
.badge.sticker .badgeoverlay.slight-right {
	-webkit-transform:rotate(10deg);
	left: 15px;
	top: 34px;
}
.badge.sticker .badgeoverlay.right {
	-webkit-transform:rotate(25deg);
	left: -2px;
	top: 36px;
}


.menu-badge {
  line-height: 30px;
  font-weight: bold;
  height: 28px;
  min-width: 24px;
  margin-top: -5px;
  margin-right: -15px;
  text-align: center;
  vertical-align: baseline;
  -webkit-border-image: url(../images/dashboard-newitem-badge.png) 0 12 0 12 repeat stretch;
  -webkit-box-sizing: border-box;
  border-width: 0px 12px 0px 12px;
  z-index: 99999 !important;
  position: fixed !important;
  -webkit-palm-mouse-target: ignore;
}

#tips-badge-wrapper {
  bottom: 30px !important;
  right: 50px !important;
}
#people-badge-wrapper {
  bottom: 30px !important;
  right: 120px !important;
}

.menu-badge span {
  position:relative;
  top:-3px;
  margin: 0 -6px;
  font-size: 16px;
  color: #fff;
  -webkit-palm-mouse-target: ignore;
}


#special_overlay {
	width: 320px;
	height: 280px;
	position: fixed;
	left: 10px;
	top: 50px;
	z-index: 99999 !important;
	/*background: red;*/
}

#special_top {
	background: url(../images/specials/border-top.png) no-repeat left top;
	height: 51px;
	width: 100%;
}

#special_bottom {
	background: url(../images/specials/border-bottom.png) no-repeat left top;
	height: 12px;
	width: 100%;
}
#special_middle {
	background: url(../images/specials/border-middle.png) repeat-y left top;
	height: 300px;
	width: 100%;
	position: relative;
}

#special_content {
	padding: 0px;
	padding-left: 16px;
	font-size: 16px;
	/*background: green;*/
}
#specialScroller {
	height: 300px;
	width: 278px;
	margin-left: 12px;
	/*background: fuchsia;*/
}

.special-wrapper {
	float: left;
	width: 276px;
	color: #565751;
	padding-left: 2px;
	padding-right: 2px;
}

.special-wrapper .checkin-venue:nth-of-type(1) {
	margin-top: 10px;
}

#triangle-left {
	width: 25px;
	height: 25px;
	background: url(../images/triangle-left.png) no-repeat left top;
	position: absolute;
	bottom: 0px;
	left: 10px;
}
#triangle-right {
	width: 25px;
	height: 25px;
	background: url(../images/triangle-right.png) no-repeat left top;
	position: absolute;
	bottom: 0px;
	right: 25px;
}

.tip-stats {
	font-size: 13px;
	color: #565751;
	text-align: right;
}
.tip-stats .done {
	padding-left: 20px;
	background: url(../images/check.png) no-repeat left top;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
}

.tip-stats .todo {
	padding-left: 20px;
	background: url(../images/todo.png) no-repeat left top;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
}

.tip-stats .tipphoto {
	padding-left: 20px;
	background: url(../images/tip-hasphoto.png) no-repeat left top;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
}

.tiprow .tip-stats {
	margin-top: 3px;
}

/*.bigavatar {
	-webkit-transform:scale(4);
	-webkit-transition: all 0.5s ease-in;
	position: absolute;
	left: 20px;
	top: 20px;
}*/








.mayor-left {
	width: 250px;
	float: left;
	margin:0;
}
.mayor-right {
	width: 55px;
	float: left;
	margin:0;
}
.venue-left {
	width: 260px;
	float: left;
}
.venue-right {
	width: 45px;
	float: left;
}
#mayor-row .palm-row-wrapper, #whoshere-row .palm-row-wrapper, #tips-row .palm-row-wrapper, #more-row .palm-row-wrapper,
#friends-row .palm-row-wrapper, #checkins-row .palm-row-wrapper,#venuehistory-row .palm-row-wrapper,#todos-row .palm-row-wrapper, #leaderboard-row .palm-row-wrapper, #add-venue-row .palm-row-wrapper,
#checkin-anyway-row .palm-row-wrapper,#photos-row .palm-row-wrapper {
	/*height: 65px;*/
	padding: 0 5px 0 5px;
}

#add-venue-text, #checkin-anyway-text {
	color: #4d4d4d; 
}
#mayorName {
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
	height: 25px;
	line-height: 25px;
	background: url(../images/crown_25x25.png) no-repeat left top;
}
#mayorInfo {
	font-size: 13px;
	color: #565751;
}
.subtext {
	font-size: 13px;
	color: #565751;
	margin-top: 2px;
}

.medium-bold {
	margin-top: 3px;
	font-size: 16px;
	font-weight: bold;
}

img.right-arrow {
	margin-top: 7px;
	margin-left: 4px;
}

#whoshere-row img.right-arrow {
	margin-top: 18px;
}



.venue-button-row.selected {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
  padding: 0;
  margin: 0;
}

.venue-button-row.selected.first {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
}

.venue-button-row.selected.single {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
}

.venue-button-row.selected.last, .list-item-add-button.selected {
  background: #8ebe1b url(../images/row-select.png) repeat-x left top !important;
}
.venue-button-row.selected > div,.venue-button-row.selected.first > div,.venue-button-row.selected.single > div,.venue-button-row.selected.last > div, .list-item-add-button.selected > div
 {
  /* negative margin is applied to negate the offset created by the
  -webkit-border-image used to style the row and its highlight */
 margin: 0px -0px;
 margin-top: -0px;
 margin-bottom: -0px;
 padding: 0;
}

#todohere {
	width: 320px;
	height: 25px;
	background: url(../images/todohere.png) no-repeat left top;
	/*position: fixed;
	bottom: 55px;
	left: 0;*/
}

.dogear {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	-webkit-palm-mouse-target: ignore;
	background: url(../images/dogear.png) no-repeat left top;	
}

.people-icon {
	margin-left: 6px;
}
.small-special {
	margin-left: 6px;
}

#todo-footer {
	font-size: 12px;
	color: #ccc;
}

#friend-box {
	font-size: 15px;
	color: #ccc;
}


#pop-tip {
	width: 280px;
	background: #fff;
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 10px;
	right: 10px;
	z-index: 99999;
	border: 10px solid rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	-webkit-background-clip: padding-box;

    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#tipScroller {
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   margin-bottom: 5px;

    -webkit-box-flex: 1;
    overflow: auto;

}

#tipHeader {
    -webkit-box-flex: 0;
}

#popTipText {
	padding: 5px;
	color: #5a5a5a;
	font-size: 16px;
}

.grey-text {
	color: #5a5a5a;
	font-size: 16px;
	padding: 15px 5px 0 5px;
}


.wt-page {
	float: left;
	width: 310px;
	padding-left: 2px;
	padding-right: 2px;
}

#page-number {
	width: 100px;
	font-size: 15px;
	text-align: center;
	position: fixed;
	bottom: 10px;
	left: 110px;
	z-index: 99999;
	
}

.walkthrough-content {
	padding-bottom: 45px;
}

#swipe-note {
	position: fixed;
	z-index: 99999;
	bottom: 46px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 5px 0;
}


#login-button {
	background: url(../images/signinwith-foursquare.png) no-repeat left top;
	width: 263px;
	height: 35px;
	margin: 265px auto 0 auto;
}

#login-extra {
	width: 263px;
	margin: 3px auto;
}
#login-help {
	width: 120px;
	height: 35px;
	background: url(../images/help-button.png) no-repeat left top;
	float: left;
}
#login-signup {
	width: 120px;
	height: 35px;
	background: url(../images/signup-button.png) no-repeat left top;
	float: right;
}

#mojo-scene-main-scene-scroller {
	background: url(../images/main-bg.png) no-repeat fixed left top;
}
#loginSpinner {
	margin: -45px auto 2px auto;
}


#add-photo.nophoto {
	width: 128px;
	height: 128px;
	background: url(../images/add-photo-big.png) no-repeat left top;
	margin: 0 auto;
}

#add-photo.hasphoto {
	width: 128px;
	height: 128px;
	margin: 0 auto;
}

#add-photo.nophoto.selected {
	width: 128px;
	height: 128px;
	background: url(../images/add-photo-big.png) no-repeat left -128px;
	margin: 0 auto;
}

.venue-photo-thumb {
	margin: 3px;
}
#mojo-scene-venue-photos-scene-scroller,#mojo-scene-view-photo-scene-scroller {
	background: #000;
}

.photo-viewer {
	color: #fff;
}

.photo-viewer .photos {
	width: 270px;
	margin: 2px auto;
}

.small-grey {
	font-size: 13px;
	color: #ccc;
}

.photorow.selected {
	color: #fff;
	background-color: #8a8989;
}

.padded {
	margin: 5px;
}
.friend-footer {
	clear: both;
}
.friend-source {
	font-size: 14px;
	/*float:left;*/
	/*width: 200px;*/
}
.friend-comments {
	font-size: 14px;
	float: right;
	/*width: 50px;*/
	color: #838383;
	line-height: 16px;
	height: 16px;
	display: inline-block;
	text-align: right;
	-webkit-border-radius: 5px;
	background-color: #d9d9d9;
	padding: 5px;
	padding-bottom: 7px;
}

.friend-comments img:nth-of-type(2) {
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 2px;
}
.friend-comments img:nth-of-type(1) {
	vertical-align: middle;
	margin-right: 2px;
}

.fsq_spinner {
  width: 75px;
  height: 50px;
  background: url(../images/spinner.png) no-repeat;
}

.fsq_spinner_hidden {
  visibility: hidden;
  width: 75px;
  height: 50px;
  background: url(../images/spinner.png) no-repeat;
}

#overlaySpinner {
	margin: 0 auto;
}


.user-checkin-header {
	width: 100%;
}


#comment-box{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

.deletelink, .flaglink {
	color: #838383 !important;
}

#photo-info {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
	font-size: 16px;
	padding: 4px;
}

#photo-info a {
	color: #fff !important;
}

#photo-flag {
	-webkit-border-radius: 10px;
	-webkit-background-clip: padding-box;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 5px;
	right: 5px;
	color: #fff;
	font-size: 16px;
	padding: 8px;
}

#badge-image {
	margin: 10px auto;
	display: block;
}
#badge-name-big {
	font-size: 18px;
	color: #484c47;
	font-weight: bold;
	padding: 0 5px;
}
#badge-description {
	color: #484c47;
	font-size: 15px;
	margin-top: 15px;
	padding: 0 5px;
}
#badge-unlock {
	color: #484c47;
	font-size: 15px;
	margin-top: 15px;
	padding: 0 5px;
	margin-bottom: 10px;
}


#mojo-scene-exhibition-scene-scroller {
	background: #000;
	color: #fff;
}

#specials-count {
	bottom: 30px;
	left: 88px;
	position: fixed;
	z-index: 99000;
	color: #fff;
}




.explore-button {
	width: 55px;
	height: 49px;
	float: left;
	text-align: center;
	padding: 4px 0 2px 0;
	background: url(../images/explore-button-bg.png) no-repeat left top;
	position: relative;
}

.explore-button.selected {
	background-position: left -57px;
}
.explore-button.active {
	background-position: left -114px;
}
.explore-button-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.explore-button img {
	width: 26px;
	height: 26px;
	margin: 0 auto;
}
.explore-button .caption {
	font-size: 10px;
	text-align: center;
}
.explore-spacer {
	float: left;
	width: 6px;
	height: 55px;
}
#category-buttons {
	padding: 6px 6px 6px 3px;
}
#category-food {
	margin-left: 7px;
}

#explore-welcome {
	background: #f7e459;
	color: #2066a8;
	font-size: 17px;
	text-align: center;
	padding: 8px;
	height: 250px;
	border-top: 2px solid #bdaf80;
}
.explore-up-arrow {
	width: 64px;
	height: 64px;
	background: url(../images/explore-up-arrow.png) no-repeat left top;
	margin: 4px auto;
}

#keywords {
	padding: 6px;
}
#keywordScroller {
	margin-bottom: 5px;
}
.explore-keyword {
	color: #262626;
	background: #d6d6d6;
	-webkit-border-radius: 6px;
	padding: 5px;
	margin-left: 3px;
	margin-right: 3px;
	word-break: none;
	white-space: nowrap;
}

.explore-keyword.selected {
	background-color: #a1a1a1;
}

.explore-topper {
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 4px 0 0 4px;
}

.explore-topper.personal {
	background: url(../images/explore-greenbar.png) no-repeat left top;
}
.explore-topper.social {
	background: url(../images/explore-bluebar.png) no-repeat left top;
}
.explore-topper.general {
	background: url(../images/explore-greybar.png) no-repeat left top;
}

.reasons {
	color: #9f9f9f;
	font-size: 14px;
	padding-left: 37px;
	padding-bottom: 5px;
}

.explore-reason {
	margin-bottom: 5px;
}

.explore-tip-icon {
	width: 32px;
	margin-right: 5px;
	float: left;
}
.explore-tip-icon img {
	width: 32px;
	height: 32px;
}
.explore-tip-content {
	background-color: #fff;
	border: 1px solid #9f9f9f;
	-webkit-border-radius: 4px;
	color: #9f9f9f;
	padding: 4px;
	font-size: 16px;
	float: right;
	width: 270px;
	margin-right: 2px;
}
.explore-tip-footer {
	font-size: 14px;
	color: #b6b6b6;
}
.explore-tip {
	margin: 5px 0 5px 0;
}

#warning {
	font-size: 14px;
	background: url(../images/explore-compass.png) no-repeat left top;
	padding-left: 37px;
	color: #8a8a8a;
	margin: 7px auto 10px auto;
	width: 300px;
}

.explore-settings-label {
	font-size: 16px;
	color: #646464;
	margin-bottom: 7px;
}

#explore-distance-slider {
	margin-top: 10px !important;
	margin-bottom: 7px !important;
}

#explore-source-radio {
	min-width: 150px !important;
	width: 275px !important;
}

#explore-source-radio .radiobutton {
	min-width: 20px !important;
	width: 90px !important;
	font-size: 12px !important;
	line-height: 15px !important;
	padding-top: 8px !important;
}

#explore-source-radio .radiobutton.first, #explore-source-radio .radiobutton.last {
	padding-top: 16px !important;
}

#explore-source-radio .radiobutton.first.selected {
	font-weight: normal !important;
}



.blue-banner {
	width: 100%;
	height: 30px;
	background: url(../images/blue-banner.png) no-repeat left top;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding-left: 4px;
	margin-bottom: 4px;
	margin-top: 7px;
}

.gold-banner {
	width: 100%;
	height: 30px;
	background: url(../images/gold-banner.png) no-repeat left top;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding-left: 4px;
	margin-bottom: 4px;
	margin-top: 7px;
}

#special-unlocked {
	width: 100%;
	height: 54px;
	background: url(../images/special-banner.png) no-repeat left top;
	margin-top: 7px;
	margin-bottom: 4px;
}

#scores-note {
	font-weight: bold;
	font-size: 16px;
	width: 275px;
	float: left;
}

#scores-total-frame {
	width: 40px;
	float: right;
	text-align: right;
}

#scores-total {
	font-weight: bold;
	color: #fff;
	padding: 2px 4px 2px 4px;
	background: #8fe800;
	border-radius: 3px;
	margin-right: 2px;
	display: inline-block;
}

.lb-rank.dim {
	border-left: 4px solid transparent;
	color: #bbb;
	font-size: 16px;
	font-weight: bold;
	width: 48px;
	margin-left: 3px;
	margin-right: 3px;
	float: left;
}

.lb-rank.bright {
	border-left: 4px solid #8fe800;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	width: 48px;
	margin-left: 3px;
	margin-right: 3px;
	float: left;
}

.lb-photo {
	width: 36px;
	float: left;
	margin-right: 3px;
}

.lb-name.dim {
	float: left;
	width: 150px;
	font-size: 16px;
	font-weight: bold;
	color: #bbb;
	margin-left: 3px;
	margin-right: 3px;
}

.lb-name.bright {
	float: left;
	width: 150px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	margin-left: 3px;
	margin-right: 3px;
}

.lb-score.dim {
	float: right;
	width: 60px;
	font-size: 18px;
	font-weight: bold;
	color: #bbb;
	margin-left: 3px;
	margin-right: 2px;
	text-align: right;
}

.lb-score.bright {
	float: right;
	width: 60px;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	margin-left: 3px;
	margin-right: 2px;
}

#leaderboard-note {
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	margin-bottom: 5px;
}

.points-header-left {
	width: 268px;
	padding-left: 2px;
	float: left;
	font-size: 14px;
}
.points-header-right {
	width: 43px;
	float: right;
	font-size: 14px;
	text-align: right;
	padding-right: 2px;
}

#points-bar {
	width: 268px;
	padding-left: 2px;
	height: 32px;
	background: #fff;
	position: relative;
	overflow: hidden;
	float: left;
}
#points-bar-progress {
	min-width: 20px;
	background: #b0d61e;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	padding-right: 3px;
	padding-top: 5px;
	position: absolute;
	top: 0;
	left: 0;
	height: 32px;
}
#points-bar-frame {
	position: absolute;
	left: 0;
	top: 0;
	height: 32px;
	background: url(../images/progress-bar-frame.png) no-repeat left top;
	width: 270px;
}

#points-max {
	width: 42px;
	font-size: 18px;
	font-weight: bold;
	color: #bbb;
	margin-right: 2px;
	text-align: right;
	float: right;
}

.lb-small {
	font-size: 14px;
	font-weight: normal;
	color: #bbb;
}

#self-listing {
	background: #fff !important;
	border-left: 4px solid #8fe800;
}
#self-listing .lb-rank {
	border-left: none;
}