<div>
	<div class="thin-header-redux">
		<div class="letterpress">
		<div class="thin-blue-header" id="pagetitle">RECOMMENDED PLACES</div>
		</div>
	</div>

	<br class="breaker-small"/>
	<!--<div class="palm-header center" id="list-header">
		Leaderboard
	</div>--><br/><br/><br/>
			<div>
				<div x-mojo-element="Spinner" id="overlaySpinner" class="spinnerClass" name="spinnerName"></div>
				<div id="overlay-content" class="black-text"></div>
				<div id="results-meta-list" x-mojo-element="List" ></div>
			</div>
	<div class="fsq-bottom-fade">&nbsp;</div>
</div>
