<div id="fupload-main" class="palm-hasheader">
	<div class="palm-header center" id="list-header">
		Upload to Flickr
	</div>
	<br/><br/>
	<div class="palm-group unlabeled">
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Title</div>
	      				<div x-mojo-element="TextField" id="photo-title"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled">
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Description</div>
	      				<div x-mojo-element="TextField" id="photo-description"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled">
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Tags</div>
	      				<div x-mojo-element="TextField" id="photo-tags"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div x-mojo-element="Button" class="palmbutton primary" id="uploadButton"></div>
	<div x-mojo-element="ProgressPill" id="uploadProgress" class="progresspillClass" name="progresspillName"></div>
	<div id="msg"></div>
</div>