<div id="addvenue-main" class="palm-hasheader">
	<div id='addvenue-header' class="palm-header">
		<!--<span id="addvenue-title" class="palm-dialog-title">-->Add a Venue<!--</span>-->
	</div>
	<br/><br/><br/>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Venue</div>
	      				<div x-mojo-element="TextField" id="venue-name"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Address</div>
	      				<div x-mojo-element="TextField" id="venue-address"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Cross Street</div>
	      				<div x-mojo-element="TextField" id="venue-crossstreet"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">City</div>
	      				<div x-mojo-element="TextField" id="venue-city"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">State</div>
						<div x-mojo-element="ListSelector" id="venue-state" class="listselectorClass" name="listselectorName"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Zip</div>
	      				<div x-mojo-element="TextField" id="venue-zip" class=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Phone</div>
	      				<div x-mojo-element="TextField" id="venue-phone"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Twitter</div>
	      				<div x-mojo-element="TextField" id="venue-twitter"></div>
					</div>
				</div>
			</div>
		</div>
	</div>			
	<div style="font-size: 14px; padding: 7px;">Adding a non-US venue? Enter everything except for the address, state, and zip and Foursquare will fill in the rest using your current location.</div>
			<br/>
	<div x-mojo-element="Button" class="palmbutton primary addtipok" id="okButton"></div>
	<div x-mojo-element="Button" class="palmbutton negative addtipcancel" id="cancelButton"></div>
</div>