<div id="main" class="contact-dialog no-palm-hasheader fsq-hasheader">
	<div class="thin-header-redux" style="z-index: 99999">
		<div class="letterpress">
		<div class="thin-blue-header" id="help-header">CONTACT</div>
		</div>
	</div>

	<br class="breaker-small"/>


	<div class="grey-text">
		Use the form below to send the developer a question, or to report a bug.
		<br>
		<br>
		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>Your Name</div>
			<div class="palm-list">
	   			<div class="palm-row single" x-mojo-tap-highlight="true">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
		      				<div x-mojo-element="TextField" id="name"></div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>Your E-mail</div>
			<div class="palm-list">
	   			<div class="palm-row single" x-mojo-tap-highlight="true">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
		      				<div x-mojo-element="TextField" id="email"></div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc=''>Message</div>
			<div class="palm-list">
	   			<div class="palm-row single" x-mojo-tap-highlight="true">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
		      				<div x-mojo-element="TextField" id="message"></div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		<div x-mojo-element="Button" id="sendMessage" class="buttonClass" name="listselectorName"></div>

		The following information about your phone will be sent along with your message: application version, webOS version and build, resolution, device name, carrier name, language your phone is set in. This information makes troubleshooting any problems much easier as different carriers, OS versions, and phone models have different issues. 
	</div>
</div>
<div class="innershadow"></div>