<div id="main" class="palm-hasheader">
    <div id='header' class="palm-header">Foursquare</div>
	<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Login</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="username"></div>
					</div>
				</div>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="PasswordField" id="password"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div x-mojo-element="Button" id="goLogin"></div>
	<div id='message' style='padding:20px;'></div>
</div>