<div id="main" class="no-palm-hasheader centered fsq-hasheader">
	<div class="thin-header-redux">
		<div class="letterpress">
			<div class="thin-blue-header">PLACES</div>
			<div id="sendField" x-mojo-element="TextField" style="position: fixed; top:50px; left: 0px;display:none;z-index:999999;width: 320px;font-size: 16px;"></div>
		</div>
	</div>
	<br class="breaker-small"/>

<!--
<div x-mojo-element="Drawer" id="drawerId" class="drawerClass" name="drawerName">
	<div class="palm-group" style="display:none;" id="searchgroup">
		<div class="palm-group-title" x-mojo-loc=''>Search Venues</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div id="sendField" x-mojo-element="TextField" ></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="go_button" x-mojo-element="Button"></div>
</div>

-->
<div id='message' style='padding: 0 20px;display:none;'></div>
<div id="gps_banner" style="display:none;height: 27px;padding-top:8px;">
	<span id="banner_text"></span>
	<div x-mojo-element="Spinner" id="smallSpinner" class="spinnerClass" name="spinnerName"></div>
	<span id="refresh-venues" class="vtip">Refresh</span>
	<br class="breaker-small"/>
</div>
<div x-mojo-element="Spinner" id="spinnerId" class="fsq_spinner" name="spinnerName"></div>
<div id="debuginfo" style="font-size: 14px;"></div>
<div id="recommend" style="display: none;">recommend</div>
<div class="fsq-divider" style="display: none;" id="noresults">No Search Results Found</div>
<div class="palm-group-nope unlabeled-nope" id='resultListBox' style='display:none;'>
	<!--<div class="palm-group-title" x-mojo-loc=''>Search Results</div>-->
	<div id="results-venue-list" x-mojo-element="List" ></div>
</div>
<div id="searchfailed" style="display: none;">
			<div class="fsq-divider" id="resultssuck">Still Not in List?</div>

			<div class='result row' x-mojo-tap-highlight='momentary' style="position: relative;padding:0;padding-top:5px;padding-left: 7px; padding-right: 7px;border-bottom: 0px solid #e7e7e7 !important;" id="search-add-venue">
				<div style="position: relative;">
					<div class="venue-info-wrap" style="width: 260px;">
						<div class="venue-name truncating-text">Add this place</div>
						<div class='venue-address truncating-text'>So others can check in here too!</div>
					</div>
					<br class="breaker">
				</div>
			</div>
			<div class='result row' x-mojo-tap-highlight='momentary' style="position: relative;padding:0;padding-top:5px;padding-left: 7px; padding-right: 7px;border-bottom: 0px solid #e7e7e7 !important;" id="search-checkin">
				<div style="position: relative;">
					<div class="venue-info-wrap" style="width: 260px;">
						<div class="venue-name truncating-text">Check-in here anyway</div>
						<div class='venue-address truncating-text'>...without adding this place for others to find</div>
					</div>
					<br class="breaker">
				</div>
			</div>
</div>
<div id="add_venue_button" x-mojo-element="Button"></div>
<div id="accuracy" class="small-text blue-box"></div>
<div id="log"></div>

<br>
</div>
<div id="menuhere" style="float: right; position: fixed; top: 30px;right:0px;"></div>

<div id="getting-gps-alert" class="alert-overlay" style="display:none;">
          <div class="fullscreen-message" id="fullscreen-info-message"><img src="images/radar.png" width="27" height="27" style="margin-right: 5px;"/> <span id="gpsmsg">Getting Your Location...</span></div>
          
</div>

<div class="righter" style="text-align: left; padding-top: 8px; padding-right: 50px; width: 68px;height: 43px;right:79px; display:none;" id="vmenu"><span class="header-button"><span id="vmenu-caption">Nearby</span> &#9654;</span></div>


<div id="gotloc" style="display:none;"></div><div id="gotlocagain" style="display:none;"></div><div id="retryloc" style="display:none;"></div>
<input type="text" style="visibility: hidden;" id="fakefield"/>
<div class="innershadow"></div>