<div>
	<div id='addvenue-header'>
		<span id="addvenue-title" class="palm-dialog-title">Add a Venue</span>
	</div>
	<div class="palm-group unlabeled" id='venue'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="venue-name"></div>
					</div>
				</div>
			</div>
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="venue-address"></div>
					</div>
				</div>
			</div>
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="venue-crossstreet"></div>
					</div>
				</div>
			</div>
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="venue-city"></div>
					</div>
				</div>
			</div>
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="ListSelector" id="venue-state" class="listselectorClass lefthalf" name="listselectorName"></div>
	      				<div x-mojo-element="TextField" id="venue-zip" class="righthalf"></div>
					</div>
				</div>
			</div>
			

	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="venue-phone"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div x-mojo-element="Button" class="palmbutton primary addtipok" id="okButton"></div>
	<div x-mojo-element="Button" class="palmbutton negative addtipcancel" id="cancelButton"></div>
</div>