<div>
	<div id='addtip-header'>
		<span id="addtip-title" class="palm-dialog-title">Add a Tip</span>
	</div>
	<div class="palm-group unlabeled" id='tip'>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="newtip"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="charCount" id="charCount" style="text-align:right; background-color: transparent !important;margin-top: 3px;">200</div>

	<div x-mojo-element="Button" class="palmbutton primary addtipok" id="tipokButton"></div>
	<div x-mojo-element="Button" class="palmbutton negative addtipcancel" id="cancelButton"></div>
</div>