<div class="black-text">
	<div id='docheckin-header'>
		<span id="docheckin-title" class="palm-dialog-title">Check In</span>
	</div>
	<div class="palm-group" id='docheckingroup'>
	<div class="palm-group-title" x-mojo-loc=''>Go ahead and check-in here?</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div x-mojo-element="TextField" id="shout"></div>
					</div>
				</div>
			</div>
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div class="title">
				<div x-mojo-element="ToggleButton" id="chkShowFriends" class="checkboxClass left" name="checkboxName"></div> <div class="left chkLabel black-text">Show Your Friends</div>
			</div>
		</div>
	</div>
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div class="title">
				<div x-mojo-element="ToggleButton" id="chkTwitter" class="checkboxClass left" name="checkboxName"></div> <div class="left chkLabel black-text">Ping Twitter</div>
			</div>
		</div>
	</div>
	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div class="title">
				<div x-mojo-element="ToggleButton" id="chkFacebook" class="checkboxClass left" name="checkboxName"></div> <div class="left chkLabel black-text">Ping Facebook</div>
			</div>
		</div>
	</div>
		</div>

	</div>
	
	
	<div x-mojo-element="Button" class="palmbutton primary addtipok" id="okButton"></div>
	<div x-mojo-element="Button" class="palmbutton negative addtipcancel" id="cancelButton"></div>
</div>