<div>
	<div id='addtip-header'>
		<span id="addtip-title" class="palm-dialog-title">What's New:</span>
	</div>
	<div style="font-size: 15px;">
		<ul>
			<li>Tapping tags performs search for that tag</li>
			<li>Tips now show number of users who have done it or added to their To Do list</li>
			<li>Reorganized venue detail view / specials</li>
			<li>Donate some cash for the hard work put into this app! <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=QGN8Q924DXP82&lc=US&item_name=foursquare%20for%20webOS&item_number=foursquare%2dwebos&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">DONATE via PayPal</a></li>
			<li>Follow me on Twitter! <a href="http://mobile.twitter.com/zhephree">@zhephree</a></li>
		</ul>
	</div>
	<div x-mojo-element="Button" class="palmbutton primary" id="tipokButton"></div>
</div>