<div class="palm-row single aTip">
	<img src="#{photo}" id="tip-pic-#{uid}-#{t}" width="48" class="userLink friend-avatar"  user="#{username}" data="#{uid}" style="display: block;float:left;"/>
	<div style="float:right;width:240px;margin-right: 4px;" class="wh-wrap">
		<div class="wh-info">
			<span class="wh-user userLink" user="#{username}" data="#{uid}">#{username}</span>
			<span class="wh-time">#{timeago}</span>
		</div>
		<div class="wh-shout">
			#{-shout}
			<span class="wh-shout-tail"></span>
		</div>
	</div>
</div>
<br class="breaker-small"/>