<!-- TODO: replace the contents of this file with your own html -->
<div id="categories-main" class="palm-hasheader">
	<div id='categories-header' class="palm-header">
		<!--<span id="addvenue-title" class="palm-dialog-title">-->Select a Category<!--</span>-->
	</div>
	<br/><br/>
	<div x-mojo-element="Button" class="palmbutton primary" id="categoryBack"></div>
	<div x-mojo-element="Button" class="palmbutton secondary" id="categorySelect"></div>
	<div>
		<div id="categories-list" x-mojo-element="List" ></div>
	</div>
</div>
