<div class="dashboard-notification-module">
    <div class="palm-dashboard-icon-container">
        <div class="dashboard-newitem">
            <span>#{count}</span>
        </div>
         <div id="dashboard-icon" class="palm-dashboard-icon dashboard-icon-fsq">
         </div>
    </div>
    <div class="palm-dashboard-text-container">
         <div class="dashboard-title">
            #{title}
         </div>
        <div id="dashboard-text" class="palm-dashboard-text">#{message}</div>
    </div>
</div>