<div id="main" class="no-palm-hasheader centered">
		<div class="thin-header-redux">
		<div class="letterpress">
		<div class="thin-blue-header">FRIENDS MAP</div>
		<div class="feed-button" id="friend-feed"></div>
		</div>
	</div>

	<br class="breaker-small"/>

	<div id='map_canvas' style="position: absolute; top: 0px; left: 0px; height: 460px; width: 100%; display: block;"></div>
	<div class="map_info" id="map_info" style="display: none;"></div>
	<br class="breaker"/>
	<div id="statusinfo"></div>
	<div x-mojo-element="Spinner" id="mapSpinner" class="spinnerClass" name="spinnerName"></div>
	<div id="menuhere" style="float: right; position: absolute; top: 30px;right:0px;"></div>

</div>
<div class="innershadow"></div>