<div id="main" class="no-palm-hasheader centered fsq-hasheader">
<!--	<div class="palm-header-nope center-nope thin-header" id="list-header" style="height: 45px;position: fixed;top:0px;left:0px;width: 322px;z-index:999;">
		<div class="lefter" style="width:220px;text-indent: 0px;font-size: 43px;text-align:left;">Tips</div>
		<!--<div class="righter" style="text-align: left; padding-top: 8px; padding-right: 50px; width: 68px;height: 43px;right:79px;" id="fmenu"><span class="header-button"><span id="fmenu-caption">List</span> &#9654;</span></div>-->
	<!--</div>-->
	
	<div class="thin-header-redux">
		<div class="letterpress">
			<div class="thin-blue-header">TO DO LIST</div>
		</div>
	</div>

	<br class="breaker-small"/>
	<!--
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc=''>Search Venues</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div id="sendField" x-mojo-element="TextField" ></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="go_button" x-mojo-element="Button"></div>
	-->
	<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>
	<div id='notice' style='display: block; padding: 0 20px;'></div>
	<div class="palm-group-nope unlabeled-nope" id='resultListBox' style='display:none;'>
		<!--<div class="palm-group-title" x-mojo-loc=''>Search Results</div>-->
		<div id="results-todos-list" x-mojo-element="List" ></div>
	</div>

	<div class="palm-header-spacer"></div>
</div>
<div class="innershadow"></div>